body {
    background-color: #B0B6BD ;
}

/*
  Bootstrap Overrides
*/

@media (max-width: 979px){
.navbar .nav-collapse .nav.pull-right {
    float: right;
}
}

/*
 * Overrides for navbar
*/


.navbar .nav{
    float: left;
    margin: 0 10px 0;
}

.navbar .nav-collapse .nav.pull-right {
    float: right;

}
.navbar .nav .divider-vertical{
    background-color: #000000;
    border-right: 2px solid #000000;
    height: 15px;
    margin-top: 10px;
    margin-right: 1px;
    margin-left: 1px;
 }

.navbar .nav>li>a{
  font-size: 12px;
  font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
  color: #3F3F3F;
  line-height: 1.417;
  text-align: left;
  font-weight:400;
  padding: 10px 10px 10px;
}

.navbar .nav>li>a:hover{
    color: #B0B6BD;
}

.navbar .nav>.active>a {
    color: #025FF1;
    background-color: transparent;
    box-shadow: none;
}

.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus{

    background-color: transparent;
    box-shadow: none;
}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
    font-size: 30px;
    margin-top:6px;
    color: rgb( 2, 95, 241 );
    font-family: "Helvetica Neue";
}

.nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-weight: 400;
}


/*
 Container overrides
*/

.container {
    margin-left: 1%;
}

/*
 Bootstrap Modal Overrides
*/

.styled-select {
    text-align: left;
}

.styled-select select {
   background: #ffffff;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.errorlist {
    color: red;
}
#signUpModal {
	max-height: 0px;
}

#signUpModal .workflow_1_click {
    margin-right: 10%;
}

#sign_up_form {
    margin: 0px;
    /*padding: 5px;*/
    border: none;
    height: inherit;
}

#sign_up_form hr {
  border: 1;
  width: 200px;
  margin-top: -1px;
  margin-left: 39%;
  color: #ffffff;
}


#sign_up_form .sign_up_large{
    width: 326px;
    border-radius: 0px;
}

#sign_up_form .sign_up_medium{
    width: 150px;
    border-radius: 0px;
}

#sign_up_form .sign_up_row_buffer{
    padding-right: 10px;
    border-radius: 0px;
}

.form_button{
    color: #000000;
    width: 110px;
    background-color: #a9a9a9;
    background-image: none;
    box-shadow: 5px 5px 5px 1px #181818;
}

#sign_up_form label {
    color: #a9a9a9;
}

#signUpModal #workflow_2 .row-fluid {
    margin-left: 50px;
}

#signUpModal #workflow_2 .team {
    width: 400px;
    display: inline-block;
}

#signUpModal .citi-footer {
   position:static;
   bottom:0;
   width:100%;
}

.citi-header h3 {
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-weight: bold;
    font-size: 30px;
    color:  #FFFFFF;
    text-align: center;
    line-height: 10px;
    margin-top: 3%;

}

.modal-body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    padding: 0px;
    font-size: 12px;
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
}

.modal-body #first  {
    padding-top: 0px;
    padding-bottom: 10px;
}
.modal-body .fieldInfoWrapper {
    /*padding-top: 30px;*/
    padding-bottom: 10px;
}

.modal-body .fieldInfoWrapper h5{
    text-align: center;
    font-weight: bold;
}
.modal-body .fieldInfoWrapper p{
    text-align: center;
    color: rgb(255,255,255);
}

.modal-body .fieldGroup{
    /*width:450px;*/
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}

.fieldGroup table.center {
    margin-left:auto;
    margin-right:auto;
 }

.modal-footer, .modal-header {
    box-shadow: none;
    border-top: none;
    border-bottom: none;
    /*padding: 0px;*/

}

.modal-close {
    position: relative;
    margin: 0;
    top: -14px;
    right: -6px;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 100;
}

/*
 Sign Up form
*/
.well {
    background-color: rgb(3,95,242);
}

.well .modal-footer {
    background-color: rgb(3,95,242);
}

/*
   Login Form
*/
#loginModal {
    max-height: 0px;
}

#login_form {
    margin: 0px;
    /*padding: 5px;*/
    border: none;
    height: inherit;
}

#login_form hr{
    margin-left: 130px;
    margin-top: 0px;
}

#login_form .sign_up_large{
    width: 326px;
    border-radius: 0px;
}

#login_form .sign_up_medium{
    width: 150px;
    border-radius: 0px;
}
/*
  Map styles
*/

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    margin-left: -20px;
    margin-top: 40px;
}

.map-ui {
    position: absolute;
    top: 10%;
    /*left: 10px;*/
    width: 250px;
    margin: 0;
    padding: 0;
    z-index: 100;
    background: #3f3f3f;
    color: #696969;
    text-align: center;
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    box-shadow: 5px 5px 15px;
    border-radius: 6px;
}

.map-ui-interviews {
        background: #b0b6bd;

}

.map-ui ul {
    list-style-type:none;
    padding: 0;
    padding-left:0;
}

.map-ui ul li {
    list-type: none;
    margin: 0;
    margin-left: -12%;
    border: 1px solid #BBB;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: 10px;
}
.map-ui a {
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

.map-ui li.active {
    background: #FFFFFF;
    color: #3F3F3F;
    border-color: #3887BE;
    border-top-color: #FFF;
}

.map-ui .interviews {
    background: #b0b6bd;
    color: #3F3F3F;
    border-color: #3887BE;
    border-top-color: #FFF;
}

.map-ui li:hover{
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    /*background: #FFFFFF;*/
    color: #3F3F3F;
        background: #777777;

    /*border-color: #3887BE;*/
    /*border-top-color: #FFF;*/
}

.map-ui li.active:hover{
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    /*background: #FFFFFF;*/
    color: #3F3F3F;
        background: #FFFFFF;

    /*border-color: #3887BE;*/
    /*border-top-color: #FFF;*/
}

.map-ui li.active a{
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #3F3F3F;
    /*border-color: #3887BE;*/
    /*border-top-color: #FFF;*/
}


/*
 * Interview related stylings
 */

#addInterviewModal {
    background-color: #B0B6BD;
    padding-bottom: 1%;
}


#addInterviewModal p{
    text-align: center;
    color: #3F3F3F;
    font-size: 15px;
    padding-right: 45px;
    padding-left: 45px;
}

#addInterviewModal h3 {
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-weight: bold;
    font-size: 30px;
    color:  #3F3F3F;
    text-align: center;
    line-height: 10px;
    margin-top: 3%;
    /*text-decoration: underline;*/
    /*text-align: center;*/
    /*color: #3F3F3F;*/
    /*font-size: 30px;*/
    /*text-underline-position: below;*/
    /*text-decoration:underline;*/
}

#addInterviewModal hr{
    /*margin-left: 130px;*/
    /*width: 70%;*/
    /*margin: 0px 0;*/
    /*margin-top: -10px;*/
    /*border-color: #3F3F3F;*/
    border: 1;
  width: 220px;
  margin-top: -1px;
  margin-left: 20%;
  border-color: #3F3F3F;
}

#addInterviewModal .interview-footer{
    background-color: #B0B6BD;
}

#addInterviewModal .interview-footer .pull-left{
    margin-left: 35px;
}

#addInterviewModal .interview-footer .pull-right{
    margin-right: 35px;
}

#addInterviewModal .interview-footer img .pull-left{
    /*float:;*/
    margin-right: 35px;
}

#addInterviewModal .interview-footer .interview-button{
    font-size: 13px;
    width: 155px;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.interview-button {
    background-color: #025FF1;
    background-image: none;
    color: #FFFFFF;
    font-size: 13px;
    width: 106px;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.interview-button:hover{
    background-color: #024CC1;
    color: #FFFFFF;
}

#add_interview_form {
    background-color: #B0B6BD;
       margin: 0px;
    /*padding: 5px;*/
    border: none;
    height: inherit;
}

#add_interview_form .column_1 {
    /*float: left;*/
    margin-left: 50px;
}

#add_interview_form .column_2 {
    /*float: right;*/
    /*margin-right: 20px;*/
}

/*#add_interview_form .fieldWrapper ul{*/
    /*list-style: none;*/
        /*list-style-type: none;*/

/*}*/

#add_interview_form .fieldWrapper {
    padding: 5px;
}

#add_interview_form .fieldWrapper ul label{
    display: inline;
    /*list-style-type: none;*/
    padding-right: 10px;
    clear:none;
    padding: 2px 1em 0 0;
}

#add_interview_form .fieldWrapper ul li{
    display: inline;
    list-style-type: none;
}

#add_interview_form #interview-map-thumb{
    height: 160px;
    width: 160px;
}

#map-thumb {
    height: 160px;
    width: 160px;
}

/*
  MAP UP LEGENDS
*/

#map-ui-subnav-content #legend-squares {
	/*height:37px;*/
	opacity: .7;
}

#map-ui-subnav-content .legend-square {
	/*width: 20%;*/
    width: 37px;
	height: 13px;
	display: inline-block;
}

/*
 Percent Income legend
*/

#PERCENT_INCOME .percent_income_spent .q1 {
fill: #b2eaee;
background-color: #b2eaee;
    margin-right: -4px;
}
#PERCENT_INCOME .percent_income_spent .q2 {
fill: #79CADA;
background-color: #79CADA;
    margin-right: -4px;
}
#PERCENT_INCOME .percent_income_spent .q3 {
fill: #42B7BD;
background-color: #42B7BD;
    margin-right: -4px;
}
#PERCENT_INCOME .percent_income_spent .q4 {
fill: #4794D4;
background-color: #4794D4;
    margin-right: -4px;
}
#PERCENT_INCOME .percent_income_spent .q5 {
fill: #526CD9;
background-color: #526CD9;
}

#PERCENT_INCOME #legend-labels{
    position: relative;
}

#PERCENT_INCOME p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 12px;
    display: inline-block;
}


/*
 Median Income legend
*/

#MEDIAN_INCOME .percent_income_spent .q1 {
fill: #D2F7F0;
background-color: #D2F7F0;
    margin-right: -4px;
}
#MEDIAN_INCOME .percent_income_spent .q2 {
fill: #8DEFE3;
background-color: #8DEFE3;
    margin-right: -4px;
}
#MEDIAN_INCOME .percent_income_spent .q3 {
fill: #28E5E0;
background-color: #28E5E0;
    margin-right: -4px;
}
#MEDIAN_INCOME .percent_income_spent .q4 {
fill: #00C9C8;
background-color: #00C9C8;
    margin-right: -4px;
}
#MEDIAN_INCOME .percent_income_spent .q5 {
fill: #00A1B7;
background-color: #00A1B7;
}

#MEDIAN_INCOME #legend-labels{
    position: relative;
}

#MEDIAN_INCOME p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 12px;
    display: inline-block;
}

/*
 Average Winnings legend
*/

#AVG_WIN .percent_income_spent .q1 {
fill: #E7D6FC;
background-color: #E7D6FC;
    margin-right: -4px;
}
#AVG_WIN .percent_income_spent .q2 {
fill: #DDA4FC;
background-color: #DDA4FC;
    margin-right: -4px;
}
#AVG_WIN .percent_income_spent .q3 {
fill: #CA6BF2;
background-color: #CA6BF2;
    margin-right: -4px;
}
#AVG_WIN .percent_income_spent .q4 {
fill: #9518ED;
background-color: #9518ED;
    margin-right: -4px;
}
#AVG_WIN .percent_income_spent .q5 {
fill: #6122FC;
background-color: #6122FC;
}

#AVG_WIN #legend-labels{
    position: relative;
}

#AVG_WIN p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 12px;
    display: inline-block;
}



/*
 Average Spending legend
*/

#AVG_SPEND .percent_income_spent .q1 {
fill: #EEFC9C;
background-color: #EEFC9C;
    margin-right: -4px;
}
#AVG_SPEND .percent_income_spent .q2 {
fill: #B0FC95;
background-color: #B0FC95;
    margin-right: -4px;
}
#AVG_SPEND .percent_income_spent .q3 {
fill: #60FD7C;
background-color: #60FD7C;
    margin-right: -4px;
}
#AVG_SPEND .percent_income_spent .q4 {
fill: #00EC66;
background-color: #00EC66;
    margin-right: -4px;
}
#AVG_SPEND .percent_income_spent .q5 {
fill: #00B95C;
background-color: #00B95C;
}

#AVG_SPEND #legend-labels{
    position: relative;
}

#AVG_SPEND p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 12px;
    display: inline-block;
}

/*
 Net Gain/Loss legend
*/

#NET_GAIN_LOSS .percent_income_spent .q1 {
fill: #BF46B1;
background-color: #BF46B1;
    margin-right: -4px;
}
#NET_GAIN_LOSS .percent_income_spent .q2 {
fill: #E1DBC8;
background-color: #E1DBC8;
    margin-right: -4px;
}
#NET_GAIN_LOSS .percent_income_spent .q3 {
fill: #DE88C8;
background-color: #DE88C8;
    margin-right: -4px;
}
#NET_GAIN_LOSS .percent_income_spent .q4 {
fill: #E5AFD8;
background-color: #E5AFD8;
    margin-right: -4px;
}
#NET_GAIN_LOSS .percent_income_spent .q5 {
fill: #EECAE5;
background-color: #EECAE5;
}

#NET_GAIN_LOSS #legend-labels{
    position: relative;
}

#NET_GAIN_LOSS p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 12px;
    display: inline-block;
}

.map-ui-popup-1 {
    z-index: 100;
    background-color: #FFFFFF;
    /*float: right;*/
    position: relative;
    max-height: 310px;
    height: 100%;
    width: 250px;
    border-radius: 5px;
    /*margin-right: 5%;*/
    margin-top: 3%;
    box-shadow: 5px 5px 15px;
    text-align: center;
    padding: 5%;
}

.map-ui-popup-2 {
    z-index: 100;
    background-color: #FFFFFF;
    /*float: right;*/
    position: relative;
    height: 100%;
    max-height:310px;
    width: 250px;
    border-radius: 5px;
    /*margin-top: 27%;*/
    /*left: 20.8%;*/
    box-shadow: 5px 5px 15px;
    text-align: center;
    padding: 5%;
}

.div-close {
    position: relative;
    margin: 0;
    top: -30px;
    right: -25px;
    z-index: 101;
    opacity: 0.9;
}

.div-close:hover {
    opacity: 100;
}

#map-popup-header p{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 20px;
    color: #3F3F3F;
}

#map-popup-description p.description{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 13px;
    color: #3F3F3F;
}

#map-popup-description-netgain{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 13px;
    color: #3F3F3F;
    margin-top: 15%;
}

#map-popup-footer button.form_button{
    color: #000000;
    width: 145px;
    background-color: #a9a9a9;
    background-image: none;
    box-shadow: 5px 5px 5px 1px #696969;
    float: left;
}

#map-popup-footer button.form_button:hover{
    color: #000000;
    width: 145px;
    background-color: #8d9297;
    background-image: none;
    box-shadow: 5px 5px 5px 1px #696969;
    float: left;
}

.popup-explain-header {
    background-color: #00c9c8;
    text-align: center;

}

#mapPopupModal {
    background-color: #00c9c8;
}

#mapPopupModal .even{
    background-color: #00c9c8;
    text-align: center;
}

#mapPopupModal .odd{
    background-color: #025ff1;
    text-align: center;
}

.popup-explain-header p{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: underline;
    margin-top: 2%;

}


#interviews-tab {
    /*width: 100%;*/
    background-color: #B0B6BD ;
}

#interviews-tab .interview-header p{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 30px;
    text-decoration: underline;
    color: #3f3f3f;
    text-align: center;

}

#interviews-tab #interview-content p.interviewee-name{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 18px;
    color: #3f3f3f;
}

#interviews-tab #interview-content div.interview-stub {
    display: inline-block;
    min-width: 280px;
    max-width: 280px;
    /*width: 30%;*/
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 1%;
    margin-right: 2%;
}

#interviews-tab #interview-content img.interviewee-photo{
    height: 280px;
    width: 280px;
}

#interviews-tab #interview-content img.interviewee-team{
    height: 31px;
    width: 31px;
    margin-top: 2%;
}

#interviews-tab #interview-content p.interviewee-by-description{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 12px;
    color: #555555;
    text-align: center;
    margin-top: -10%;
}

#interview-details-comments{
    text-align: center;
    background-color: #B0B6BD;
}

#interviewDetails {
    overflow-y: scroll;
overflow-x: hidden;
}

/*
Interview colors
*/

.interview-detail-team-green{
    background-color: #00ec66;
}

.interview-detail-team-blue{
    background-color: #025ff1;
}

.interview-detail-team-aqua{
    background-color: #00c9c8;
}

.interview-detail-team-pink{
    background-color: #ff26d6;
}

.interview-detail-team-purple{
    background-color: #9518ed;
}

.interview-detail-team-orange{
    background-color: orange;
}

.interview-detail-team-yellow{
    background-color: yellow;
}

.interview-detail-team-red{
    background-color: red;
}

.chart {
    padding: 3%;
}

.chart .rule {
    font-size: 10px;
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    text-align: left;
}

.chart rect {
   stroke: white;
 }

.chart rect:nth-child(1){
    fill-opacity: .7;
  fill: #B0B6BD;
}

.chart rect:nth-child(2){
    fill-opacity: 1;
  fill: #00c9c8;
}

.chart rect:nth-child(3){
    fill-opacity: 1;
  fill: #025ff1;
}


#median_income_graph_text{
  display: inline-block;
}



.bubble-median_income_graph_text
{
    font-size: 13px;
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
position: relative;
width: 150px;
height: 40px;
padding: 2px;
background: #FFFFFF;
border: #00C9C8 solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.bubble-median_income_graph_text  b
{
    font-size: 13px;
  font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00c9c8;
}

.bubble-median_income_graph_text :after
{
content: "";
position: absolute;
bottom: -8px;
left: 71px;
border-style: solid;
border-width: 8px 6px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble-median_income_graph_text :before
{
content: "";
position: absolute;
top: 46px;
left: 70px;
border-style: solid;
border-width: 9px 7px 0;
border-color: #00C9C8 transparent;
display: block;
width: 0;
z-index: 0;
}


.bubble-percent_income_graph_text
{
     font-size: 13px;
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
position: relative;
width: 155px;
height: 40px;
padding: 2px;
background: #FFFFFF;
border: #025FF1 solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    margin-left: 7%;
}

.bubble-percent_income_graph_text:after
{
content: "";
position: absolute;
top: -8px;
left: 6px;
border-style: solid;
border-width: 0 6px 8px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble-percent_income_graph_text:before
{
content: "";
position: absolute;
top: -11px;
left: 5px;
border-style: solid;
border-width: 0 7px 9px;
border-color: #025FF1 transparent;
display: block;
width: 0;
z-index: 0;
}


.bubble-net_winnings_graph_text b
{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;

}

.bubble-net_winnings_graph_text
{
     font-size: 13px;
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
position: relative;
width: 60px;
height: 40px;
padding: 2px;
background: #FFFFFF;
border: #9518ed solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    margin-left: 7%;
    margin-top: -35%;
}

.bubble-net_winnings_graph_text:after
{
content: "";
position: absolute;
top: 14px;
right: -8px;
border-style: solid;
border-width: 6px 0 6px 8px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
}

.bubble-net_winnings_graph_text:before
{
content: "";
position: absolute;
top: 13px;
left: 66px;
border-style: solid;
border-width: 7px 0 7px 9px;
border-color: transparent #9518ed;
display: block;
width: 0;
z-index: 0;
}

.bubble-net_spenings_graph_text b
{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00ec66;

}

.bubble-net_spenings_graph_text
{
     font-size: 13px;
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
position: relative;
width: 60px;
height: 40px;
padding: 2px;
background: #FFFFFF;
border: #00ec66 solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    float: right;
    margin-top: -20%;
    margin-right: 10%;
}

.bubble-net_spenings_graph_text:after
{
content: "";
position: absolute;
top: 14px;
left: -8px;
border-style: solid;
border-width: 6px 8px 6px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
}

.bubble-net_spenings_graph_text:before
{
content: "";
position: absolute;
top: 13px;
left: -11px;
border-style: solid;
border-width: 7px 9px 7px 0;
border-color: transparent #00ec66;
display: block;
width: 0;
z-index: 0;
}

#map-popup-description-netgain .spendings {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00ec66;
}

#map-popup-description-netgain .winnings {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;
}

#map-popup-description-netgain .net {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #ff26d6;
}

.styled-select2 {
    text-align: left;
}

.styled-select2 select {
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
   background: #ffffff;
   width: 150px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.dropdown-caret {
    margin-left: -15%;
position: relative;
height: 15px;
padding-top: 10px;
}


.comment-info {
    text-align: left;
    margin-left: 5%;
}

.explain-text {
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #025ff1;
    font-size: 22px;
    margin-left: 8%;
margin-right: 8%;
    margin-top: 1%;

}

.explain-text-odd{
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #00c9c8;
    font-size: 22px;
    margin-left: 8%;
margin-right: 8%;
    margin-top: 2%;

}

.math-table-center{
    margin-left: 20%;
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #ffffff;
    font-size: 18px;
}

.math-table-center b.spent-blue{
      font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #025ff1;
    font-size: 22px;
}

.bubble-explain-chart-text
{
    /*font-size: 13px;*/
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
position: relative;
width: 150px;
height: 40px;
padding: 2px;
background: #FFFFFF;
border: #025FF1 solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    margin-left: 40%;
}

.bubble-explain-chart-text :after
{content: "";
position: absolute;
bottom: -8px;
left: 71px;
border-style: solid;
border-width: 8px 6px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble-explain-chart-text :before
{
content: "";
position: absolute;
top: 46px;
left: 70px;
border-style: solid;
border-width: 9px 7px 0;
border-color: #025FF1 transparent;
display: block;
width: 0;
z-index: 0;
}


/*
 * Tours
 */

#addTour {
    background-color: #8d9297;
    display: initial;
}

#addTour .even{
    background-color: #b0b6bd;
    padding:2%;

}

#addTour .odd{
    background-color: #8d9297;
    padding:2%;
}

#addTour #workflow-tour{
    padding: 2%;
    height: 95%;
}

.slide-header {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #3f3f3f;
    font-size: 20px;
    text-align: center;
}

.tour-hr-title {
    background-color: #3f3f3f;
    width: 100px;
    height: 2px;
    margin: auto;
}

#tour-menu-controls {
    position:fixed;
    width:150px;
    z-index:100;
    right: 3%;
    top: 75%;
}

#tour-menu-controls .tour-menu {
    list-style-type: none;
}


#tour-menu-controls .tour-menu li{
    margin: 1em 0;
}

#tour-menu-controls .tour-menu li button{
    width: 85px;
}

.styled-select-tour {
    text-align: left;
}

.styled-select-tour select {
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
   background: #ffffff;
   width: 150px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.dropdown-caret-tour {
    margin-left: -2%;
position: relative;
height: 15px;
padding-top: 10px;
}

#tourPreview {
    background-color: #ffffff;
    left: 0;
    margin-left: 0;
}