body {
    background-color: #B0B6BD ;
}

#main-container {
    margin-top: -18px;
}

.tab-content{
    overflow: visible;
}

/*
  Bootstrap Overrides
*/

@media (max-width: 979px){
.navbar .nav-collapse .nav.pull-right {
    float: right;
}
}

@media (max-width: 979px) and (min-width: 768px){
#main-container {
    margin-top: -8px;
}
}

@media (max-width: 979px) and (min-width: 768px){
#map-popup-1, map-popup-2 {
    margin-top: 10%;
}
}

@media (max-width: 979px) and (min-width: 768px){
#map-popup-2 {
    margin-top: 20px;
}
}

@media (max-width: 979px) and (min-width: 768px){
.span4.nav {
    width: 245px;
}
}

@media (max-width: 979px) and (min-width: 768px) {
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 100%;
}}

@media (min-width: 1200px){
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 100%;
}}

.btn{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
    font-size: 13px;

}

/*
 * Overrides for navbar
*/


.navbar .nav{
    float: left;
    margin: 0 10px 0;
}

.navbar .nav-collapse .nav.pull-right {
    float: right;

}
.navbar .nav .divider-vertical{
    background-color: #000000;
    border-right: 2px solid #000000;
    height: 15px;
    margin-top: 10px;
    margin-right: 1px;
    margin-left: 1px;
 }

.navbar .nav>li>a{
  font-size: 12px;
  font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
  color: #3F3F3F;
  line-height: 1.417;
  text-align: left;
  font-weight:400;
  padding: 10px 10px 10px;
}

.navbar .nav>li>a:hover{
    color: #B0B6BD;
}

.navbar .nav>.active>a {
    color: #025FF1;
    background-color: transparent;
    box-shadow: none;
}

.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus{

    background-color: transparent;
    box-shadow: none;
}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
    font-size: 30px;
    margin-top:6px;
    color: #025ff1;
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;

}

.navbar .brand-fade {
    font-weight: normal;
    color: #00c9c8;
}

.nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-weight: 400;
}


/*
 Container overrides
*/

/*.container {*/
    /*margin-left: 1%;*/
/*}*/

/*
 Bootstrap Modal Overrides
*/

.styled-select {
    text-align: left;
}

.styled-select select {
   background: #ffffff;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 15px;
   color: #555555;
   -webkit-appearance: none;
   }

.errorlist {
    color: red;
}
#signUpModal {
	max-height: 0px;
}

#signUpModal .workflow_1_click {
    margin-right: 10%;
}

#sign_up_form {
    margin: 0px;
    /*padding: 5px;*/
    border: none;
    height: inherit;
}

#sign_up_form hr {
  border: 1;
  width: 200px;
  margin-top: -1px;
  margin-left: 39%;
  color: #ffffff;
}


#sign_up_form .sign_up_large{
    width: 326px;
    border-radius: 0px;
}

#sign_up_form .sign_up_medium{
    width: 150px;
    border-radius: 0px;
}

#sign_up_form .sign_up_row_buffer{
    padding-right: 10px;
    border-radius: 0px;
}

.form_button{
    color: #000000;
    background-color: #a9a9a9;
    background-image: none;
    box-shadow: 5px 5px 5px 1px #181818;
    min-width: 95px;
    max-width: 170px;
}

.signup-submit-button{
    margin-right: 6px;
}

.signup-back-button{
    margin-left:11px;
}

#sign_up_form label {
    color: #a9a9a9;
}

#signUpModal #workflow_2 .row-fluid {
    margin-left: 50px;
}

#signUpModal #workflow_2 .team {
    width: 400px;
    display: inline-block;
    margin-top: 21px;
}

#signUpModal #workflow_3 p.success-message {
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-weight: bold;
    font-size: 30px;
    color:  #3f3f3f;
    margin-top: 30px;
}

#signUpModal .citi-footer {
   position:static;
   bottom:0;
   width:100%;
}

.citi-header h3 {
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-weight: bold;
    font-size: 30px;
    color:  #FFFFFF;
    text-align: center;
    line-height: 10px;
    margin-top: 17px;
    text-decoration: underline;
    text-decoration-color: #ffffff;

}

.modal-body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    padding: 0px;
    font-size: 12px;
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
}

.modal-body::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 5px;
	background-color: transparent;
}

.modal-body::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
    height: 10px;
}

.modal-body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #cbd1d7;
    height: 30px;
}


.modal-body #first  {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 30px;
}
.modal-body .fieldInfoWrapper {
    /*padding-top: 30px;*/
    padding-bottom: 10px;
}

.modal-body .fieldInfoWrapper h5{
    text-align: center;
    font-weight: bold;
}
.modal-body .fieldInfoWrapper p{
    text-align: center;
    color: rgb(255,255,255);
    margin-top: -13px;
    margin-bottom: 19px;
}

.modal-body .no-padding p{
    text-align: center;
    color: rgb(255,255,255);
    margin-top: -13px;
    margin-bottom: 0px;
}

.modal-body .fieldGroup{
    /*width:450px;*/
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}

.no-scroll {
    overflow-y: hidden;
}

.fieldGroup table.center {
    margin-left:auto;
    margin-right:auto;
 }

.modal-footer, .modal-header {
    box-shadow: none;
    border-top: none;
    border-bottom: none;
    /*padding: 0px;*/

}

.modal-close {
    position: absolute;
    margin: 0;
    top: -14px;
    right: -6px;
    opacity: 0.9;
    z-index: 999;
}

.modal-close:hover {
    opacity: 100;
}

/*
 Sign Up form
*/
.well {
    background-color: rgb(3,95,242);
}

.well .modal-footer {
    background-color: rgb(3,95,242);
}

/*
   Login Form
*/
#loginModal {
    max-height: 0px;
}

#login_form {
    margin: 0px;
    /*padding: 5px;*/
    border: none;
    height: inherit;
}

#login_form hr{
    margin-left: 149px;
    margin-top: 0px;
}

#login_form .sign_up_large{
    width: 326px;
    border-radius: 0px;
}

#login_form .sign_up_medium{
    /*width: 150px;*/
    border-radius: 0px;
}
/*
  Map styles
*/

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    margin-top: 40px;
}

.map-ui {
    left: 15px;
    position: absolute;
    top: 99px;
    /*left: 10px;*/
    width: 250px;
    margin: 0;
    padding: 0;
    z-index: 100;
    background: #3f3f3f;
    color: #696969;
    text-align: center;
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    box-shadow: 5px 5px 15px;
    border-radius: 6px;
}

.map-ui-interviews {
        background: #b0b6bd;
}

.map-ui ul {
    list-style-type:none;
    padding: 0;
    padding-left:0;
    margin-bottom: 1px;
}

.map-ui ul li {
    list-type: none;
    margin: 0;
    margin-left: -12%;
    border: 1px solid #BBB;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: 10px;
}
.map-ui a {
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

.map-ui li.active {
    background: #FFFFFF;
    color: #3F3F3F;
    /*border-color: #3887BE;*/
    border-top-color: #FFF;
}

.map-ui .interviews {
    background: #b0b6bd;
    color: #3F3F3F;
    border-color: #3887BE;
    border-top-color: #FFF;
}

.map-ui #VIEWS_INTERVIEWS .interviews {
    color: #000000;
    border-color: #3887BE;
    border-top-color: #FFF;
}

.map-ui ul li #VIEWS_INTERVIEWS {
    background-color: #3f3f3f;
}

.map-ui li:hover{
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    /*background: #FFFFFF;*/
    color: #3F3F3F;
        background-color: #777777;

    /*border-color: #3887BE;*/
    /*border-top-color: #FFF;*/
}

.map-ui #VIEW_ALL_SCHOOLS{
    color: #000000;
        background-color: #b0b6bd;
    box-shadow: 5px;
    -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;

}

.map-ui #VIEW_ALL_SCHOOLS #map-ui-all-classes{
   background-color: #ffffff;
    height: 100px;
    overflow-y: auto;
    width: 109%;
margin-left: -10px;
margin-bottom: -10px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
    font-size: 15px;
    color: #3f3f3f;
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;

}

.map-ui #VIEW_ALL_SCHOOLS .turn_on_class_interviews:hover{
    color: #025ff1;
}

.map-ui #VIEW_ALL_SCHOOLS hr{
    color: #000000;
        background-color: #b0b6bd;
    width: 250px;
    margin-left: -10px;
    margin-top: -4px;
    border-width: 1;
    margin-top: 10px;

}

.map-ui #VIEW_ALL_SCHOOLS .caret{
    margin-top: 8px;
    margin-left: 3px;
}

.map-ui #VIEWS_INTERVIEWS{
    color: #000000;
        background-color: #b0b6bd;
    border: 1px solid #BBB;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 5px;
}

.map-ui #VIEWS_INTERVIEWS hr{
    color: #000000;
        background-color: #b0b6bd;
    width: 250px;
    margin-left: -10px;
    margin-top: -4px;
    border-width: 1;

}

.map-ui #VIEWS_INTERVIEWS label{
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    background: #FFFFFF;
    color: #FFFFFF;
        background: #b0b6bd;
    display: inline-block;
    box-sizing: border-box;
}

.map-ui li.active:hover{
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    /*background: #FFFFFF;*/
    color: #3F3F3F;
        background: #FFFFFF;

    /*border-color: #3887BE;*/
    /*border-top-color: #FFF;*/
}

.map-ui li.active a{
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #3F3F3F;
    /*border-color: #3887BE;*/
    /*border-top-color: #FFF;*/
}

.map-ui #map-view-level{
    margin-top:2%;
}

.map-ui #map-view-level div{
    background-color: #b0b6bd;
}

.map-ui #map-view-level div.active{
    border-style:solid;
    border-width: 3px;
    border-color: #000000;
}

.map-ui #map-view-level div p{
    display: inline;
}

.map-ui #map-legend-street{
    float: left;
}

/*
 * Interview related stylings
 */

#addInterviewModal {
    background-color: #B0B6BD;
    padding-bottom: 1%;
}


#addInterviewModal p{
    text-align: center;
    color: #3F3F3F;
    font-size: 15px;
    padding-right: 45px;
    padding-left: 45px;
}

#addInterviewModal h3 {
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-weight: bold;
    font-size: 30px;
    color:  #3F3F3F;
    text-align: center;
    line-height: 10px;
    margin-top: 33px;
    text-decoration: underline;
    text-underline-position: below;
    text-decoration-color: #3f3f3f;
}

#addInterviewModal hr{
    /*margin-left: 130px;*/
    /*width: 70%;*/
    /*margin: 0px 0;*/
    /*margin-top: -10px;*/
    /*border-color: #3F3F3F;*/
    border: 1;
  width: 220px;
  margin-top: -1px;
  margin-left: 20%;
  border-color: #3F3F3F;
}

#addInterviewModal .interview-footer{
    background-color: #B0B6BD;
    margin-top: 30px;
}

#addInterviewModal .interview-footer .pull-left{
    margin-left: 30px;
}

#addInterviewModal .interview-footer .pull-right{
    margin-right: 30px;
}

#addInterviewModal .interview-footer img .pull-left{
    /*float:;*/
    margin-right: 35px;
}

#addInterviewModal .interview-footer .interview-button{
    font-size: 13px;
    max-width: 159px;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.interview-button {
    background-color: #025FF1;
    background-image: none;
    color: #FFFFFF;
    font-size: 13px;
    min-width: 95px;
    max-width: 108px;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.interview-button:hover{
    background-color: #024CC1;
    color: #FFFFFF;
}

.auto-scroll {
    overflow-y: auto;
}

#add_interview_form {
    background-color: #B0B6BD;
       margin: 0px;
    /*padding: 5px;*/
    border: none;
    height: inherit;
    /*font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;*/
    /*font-size: 15px;*/
    /*color:  #3F3F3F;*/
}


#add_interview_form .column_1 {
    /*float: left;*/
    /*margin-left: 50px;*/
}

#add_interview_form .column_2 {
    /*float: right;*/
    /*margin-right: 20px;*/
}

/*#add_interview_form .fieldWrapper ul{*/
    /*list-style: none;*/
        /*list-style-type: none;*/

/*}*/

#add_interview_form .fieldWrapper {
    padding: 5px;
    margin-bottom: 20px;
}

#add_interview_form  label{
    display: inline;
    /*list-style-type: none;*/
    padding-right: 10px;
    clear:none;
    padding: 2px 1em 0 0;
    font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 15px;
    color:  #3F3F3F;
}

#add_interview_form label.add_media_button_photo{
    font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
    margin-left: 18px;
    opacity: .5;
}

#add_interview_form  span.input-span-close{
font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3F3F3F;
;
}

#add_interview_form  button{
    margin-top: 10px;
}

#add_interview_form  input{
    margin-top: 10px;
}

#add_interview_form .fieldWrapper ul li{
    display: inline;
    list-style-type: none;
}

#add_interview_form #interview-map-thumb{
    height: 320px;
    width: 100%;
}

#map-thumb {
    height: 160px;
    width: 160px;
}

/*
  MAP UP LEGENDS
*/

#map-ui-subnav-content #legend-squares {
	/*height:37px;*/
}

#map-ui-subnav-content .legend-square {
	/*width: 20%;*/
    width: 37px;
	height: 13px;
	display: inline-block;
}

/*
 Percent Income legend
*/

#PERCENT_INCOME .percent_income_spent .q1 {
fill: #a5f3fa;
background-color: #a5f3fa;
    margin-right: -4px;
}
#PERCENT_INCOME .percent_income_spent .q2 {
fill: #62def8;
background-color: #62def8;
    margin-right: -4px;
}
#PERCENT_INCOME .percent_income_spent .q3 {
fill: #0bb6ec;
background-color: #0bb6ec;
    margin-right: -4px;
}
#PERCENT_INCOME .percent_income_spent .q4 {
fill: #178def;
background-color: #178def;
    margin-right: -4px;
}
#PERCENT_INCOME .percent_income_spent .q5 {
fill: #254aeb;
background-color: #254aeb;
}

#PERCENT_INCOME #legend-labels{
    position: relative;
    margin-top: -10px;
}

#PERCENT_INCOME p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 2px;
	text-align: center;
	font-size: 10px;
    display: inline-block;
    position: relative;
}


/*
 Median Income legend
*/

#MEDIAN_INCOME .percent_income_spent .q1 {
fill: #D2F7F0;
background-color: #D2F7F0;
    margin-right: -4px;
}
#MEDIAN_INCOME .percent_income_spent .q2 {
fill: #8DEFE3;
background-color: #8DEFE3;
    margin-right: -4px;
}
#MEDIAN_INCOME .percent_income_spent .q3 {
fill: #28E5E0;
background-color: #28E5E0;
    margin-right: -4px;
}
#MEDIAN_INCOME .percent_income_spent .q4 {
fill: #00C9C8;
background-color: #00C9C8;
    margin-right: -4px;
}
#MEDIAN_INCOME .percent_income_spent .q5 {
fill: #00A1B7;
background-color: #00A1B7;
}

#MEDIAN_INCOME #legend-labels{
    position: relative;
    margin-top: -10px;
}

#MEDIAN_INCOME p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 10px;
    display: inline-block;
    position: relative;
}

/*
 Average Winnings legend
*/

#AVG_WIN .average_winnings_legend_square .q1 {
fill: #E7D6FC;
background-color: #E7D6FC;
    margin-right: -4px;
}
#AVG_WIN .average_winnings_legend_square .q2 {
fill: #DDA4FC;
background-color: #DDA4FC;
    margin-right: -4px;
}
#AVG_WIN .average_winnings_legend_square .q3 {
fill: #CA6BF2;
background-color: #CA6BF2;
    margin-right: -4px;
}
#AVG_WIN .average_winnings_legend_square .q4 {
fill: #9518ED;
background-color: #9518ED;
    margin-right: -4px;
}
#AVG_WIN .average_winnings_legend_square .q5 {
fill: #6f22FC;
background-color: #6f22FC;
}

#AVG_WIN #legend-labels{
    position: relative;
    margin-top: -10px;
}

#AVG_WIN p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 10px;
    display: inline-block;
    position: relative;
}



/*
 Average Spending legend
*/

#AVG_SPEND .percent_income_spent .q1 {
fill: #e1f4be;
background-color: #e1f4be;
    margin-right: -4px;
}
#AVG_SPEND .percent_income_spent .q2 {
fill: #B0FC95;
background-color: #B0FC95;
    margin-right: -4px;
}
#AVG_SPEND .percent_income_spent .q3 {
fill: #60FD7C;
background-color: #60FD7C;
    margin-right: -4px;
}
#AVG_SPEND .percent_income_spent .q4 {
fill: #00EC66;
background-color: #00EC66;
    margin-right: -4px;
}
#AVG_SPEND .percent_income_spent .q5 {
fill: #00B95C;
background-color: #00B95C;
}

#AVG_SPEND #legend-labels{
    position: relative;
    margin-top: -10px;
}

#AVG_SPEND p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 10px;
    display: inline-block;
    position: relative;
}

/*
 Net Gain/Loss legend
*/

#NET_GAIN_LOSS .percent_income_spent .q1 {
fill: #cd07b6;
background-color: #cd07b6;
    margin-right: -4px;
}
#NET_GAIN_LOSS .percent_income_spent .q2 {
fill: #ff26d6;
background-color: #ff26d6;
    margin-right: -4px;
}
#NET_GAIN_LOSS .percent_income_spent .q3 {
fill: #ff73db;
background-color: #ff73db;
    margin-right: -4px;
}
#NET_GAIN_LOSS .percent_income_spent .q4 {
fill: #fea9e9;
background-color: #fea9e9;
    margin-right: -4px;
}
#NET_GAIN_LOSS .percent_income_spent .q5 {
fill: #fbc5ed;
background-color: #fbc5ed;
}

#NET_GAIN_LOSS #legend-labels{
    position: relative;
    margin-top: -10px;
}

#NET_GAIN_LOSS p.legend-label {
	color: #3F3F3F;
	width: 70px;
	margin: 0 0 0 -40px;
	top: 5px;
	text-align: center;
	font-size: 10px;
    display: inline-block;
    position: relative;
}

.map-ui-popup-1 {
    z-index: 100;
    background-color: #FFFFFF;
    /*float: right;*/
    position: relative;
    max-height: 345px;
    height: 100%;
    width: 250px;
    border-radius: 5px;
    /*margin-right: 5%;*/
    margin-top: 3%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 3%;
    float: right;
    margin-right: 20px;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.map-ui-popup-2 {
    float: right;
    z-index: 100;
    background-color: #FFFFFF;
    /*float: right;*/
    position: relative;
    height: 100%;
    max-height:310px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 12px;
    padding-left: 3%;
    margin-right: 20px;
    margin-top: 3%;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.div-close {
    position: relative;
    margin: 0;
    top: -23px;
    right: -8px;
    z-index: 101;
    opacity: 0.9;
}

.div-close:hover {
    opacity: 100;
}

#map-popup-header p{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 20px;
    color: #3F3F3F;
}

#map-popup-description p.description{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 13px;
    color: #3F3F3F;
}

#map-popup-description-netgain{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 13px;
    color: #3F3F3F;
    margin-top: 15%;
}

#map-popup-footer button.form_button{
    color: #000000;
    min-width: 95px;
    max-width: 170px;
    background-color: #a9a9a9;
    background-image: none;
    box-shadow: 5px 5px 5px 1px #696969;
    float: left;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 13px;

}

#map-popup-footer button.form_button:hover{
    color: #000000;
    min-width: 95px;
    max-width: 170px;
    background-color: #8d9297;
    background-image: none;
    box-shadow: 5px 5px 5px 1px #696969;
    float: left;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 13px;
}

.popup-explain-header {
    background-color: #00c9c8;
    text-align: center;

}

.popup-explain-header-not-equal {
    background-color: #9518ed;
    text-align: center;

}

#mapPopupModal {
    background-color: #00c9c8;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: visible;

}

#mapPopupModal .even{
    background-color: #00c9c8;
    text-align: center;
}

#mapPopupModal .odd{
    background-color: #025ff1;
    text-align: center;
}

#mapPopupModal .not-all-equal-odd{
    background-color: #b0b6bd;
    text-align: center;
}

#mapPopupModal .not-all-equal-even{
    /*background-color: #b0b6bd;*/
    text-align: center;
}


.popup-explain-header p{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: underline;
    margin-top: 2%;

}

.popup-explain-header-not-equal p{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: underline;
    margin-top: 2%;

}



#interviews-tab {
    /*width: 100%;*/
    background-color: #B0B6BD ;
    padding-left: 20px;
    padding-right: 20px;
}

#interviews-tab .interview-header{
padding-top: 4%;
padding-bottom: 2%;
}

#interviews-tab .interview-header p{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 30px;
    text-decoration: underline;
    color: #3f3f3f;
    text-align: center;

}


#interviews-tab #interview-content p.interviewee-name{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 18px;
    color: #3f3f3f;
}

#interviews-tab #interview-content div.interview-stub {
    display: inline-block;
    width: 235px;
    height: 295px;
    /*width: 30%;*/
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 3%;
    margin-right: 2%;
    text-align: center;
}

#interviews-tab #interview-content img.interviewee-photo{
    height: 219px;
    width: 219px;
}

#interviews-tab #interview-content img.interviewee-team{
    height: 31px;
    width: 31px;
    float: left;
    margin-left: 4%;
    margin-top: 2%;
}

#interviews-tab #interview-content p.interviewee-by-description{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 12px;
    color: #555555;
    text-align: left;
}

#interview-details-comments{
    text-align: center;
    background-color: #B0B6BD;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 13px;
    color: #555555;
}

#interview-details-comments #comments-list .comment-text {
    text-align: left;
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 15px;
    color: #555555;
}

interview-details-comments b.comment-name{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 13px;
    color: #3f3f3f;
}

#interviewDetails {
    overflow-y: scroll;
    overflow-x: hidden;
}

#interview-details-header p.interviewee-by-description{
    margin-top: 5px;
    margin-left: 14px;
    display: inline-block;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 13px;
    color: #3f3f3f;
}

#interview-details-header p.interviewee-by-description b{
    color: #FFFFFF;
}


#interview-details-header img.interviewee-team{
    height: 31px;
width: 31px;
float: left;
margin-left: 10px;
margin-top: 8px;
display: inline-block;
}

#interview-details{
    margin-left: 40px;
}

#interview-details p.interviewee-name-details{
    text-align: center;
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 30px;
    color: #3f3f3f;
    margin-top: 25px;
    margin-bottom: 25px;
    text-decoration: underline;
}

#interview-details p.interview-details-label{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 15px;
    color: #3f3f3f;
    margin-bottom: 1px;
}

#interview-details p{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 15px;
    color: #3f3f3f;
}

#interview-details img.interviewee-photo{
    height: 282px;
    width: 282px;
}

#interview-details #map-thumb {
height: 160px;
width: 160px;
margin-left: 12px;
}

#interview-details-comments p.comment-header{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    font-size: 22px;
    color: #FFFFFF;
}

/*
Interview colors
*/

.interview-detail-team-green{
    background-color: #00ec66;
}

.interview-detail-team-blue{
    background-color: #025ff1;
}

.interview-detail-team-aqua{
    background-color: #00c9c8;
}

.interview-detail-team-pink{
    background-color: #ff26d6;
}

.interview-detail-team-purple{
    background-color: #9518ed;
}

.interview-detail-team-orange{
    background-color: orange;
}

.interview-detail-team-yellow{
    background-color: yellow;
}

.interview-detail-team-red{
    background-color: red;
}

.chart {
    padding: 3%;
}

.chart .rule {
    font-size: 10px;
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    text-align: left;
}

.chart rect {
   stroke: white;
 }

.chart rect:nth-child(1){
    fill-opacity: .7;
  fill: #B0B6BD;
}

.chart rect:nth-child(2){
    fill-opacity: 1;
  fill: #00c9c8;
}

.chart rect:nth-child(3){
    fill-opacity: 1;
  fill: #025ff1;
}


#median_income_graph_text{
  display: inline-block;
}



.bubble-median_income_graph_text
{
    font-size: 11px;
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
position: relative;
   min-width: 150px;
    max-width: 161px;
height: 30px;
padding: 2px;
background: #FFFFFF;
border: #00C9C8 solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    line-height: normal;
}

.bubble-median_income_graph_text  b
{
    font-size: 13px;
  font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00c9c8;
}

.bubble-percent_income_graph_text  b
{
    font-size: 13px;
  font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00c9c8;
}

.bubble-median_income_graph_text :after
{
content: "";
position: absolute;
bottom: -8px;
left: 71px;
border-style: solid;
border-width: 8px 6px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble-median_income_graph_text :before
{
content: "";
position: absolute;
top: 36px;
left: 70px;
border-style: solid;
border-width: 9px 7px 0;
border-color: #00C9C8 transparent;
display: block;
width: 0;
z-index: 0;
}


.bubble-percent_income_graph_text
{
     font-size: 11px;
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
position: relative;
min-width: 155px;
    max-width: 175px;
height: 30px;
padding: 2px;
background: #FFFFFF;
border: #025FF1 solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    margin-left: 7%;
    line-height: normal;
}

.bubble-percent_income_graph_text:after
{
content: "";
position: absolute;
top: -8px;
left: 6px;
border-style: solid;
border-width: 0 6px 8px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble-percent_income_graph_text:before
{
content: "";
position: absolute;
top: -11px;
left: 5px;
border-style: solid;
border-width: 0 7px 9px;
border-color: #025FF1 transparent;
display: block;
width: 0;
z-index: 0;
}


.bubble-net_winnings_graph_text b
{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;

}

.bubble-net_winnings_graph_text
{
     font-size: 13px;
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
position: relative;
width: 60px;
height: 40px;
padding: 2px;
background: #FFFFFF;
border: #9518ed solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    margin-left: 7%;
    margin-top: -35%;
    line-height: normal;
}

.bubble-net_winnings_graph_text:after
{
content: "";
position: absolute;
top: 14px;
right: -8px;
border-style: solid;
border-width: 6px 0 6px 8px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
}

.bubble-net_winnings_graph_text:before
{
content: "";
position: absolute;
top: 13px;
left: 66px;
border-style: solid;
border-width: 7px 0 7px 9px;
border-color: transparent #9518ed;
display: block;
width: 0;
z-index: 0;
}

.bubble-net_spenings_graph_text b
{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00ec66;

}

.bubble-net_spenings_graph_text
{
     font-size: 13px;
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
position: relative;
width: 60px;
height: 40px;
padding: 2px;
background: #FFFFFF;
border: #00ec66 solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    float: right;
    margin-top: -20%;
    margin-right: 10%;
    line-height: normal;
}

.bubble-net_spenings_graph_text:after
{
content: "";
position: absolute;
top: 14px;
left: -8px;
border-style: solid;
border-width: 6px 8px 6px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
}

.bubble-net_spenings_graph_text:before
{
content: "";
position: absolute;
top: 13px;
left: -11px;
border-style: solid;
border-width: 7px 9px 7px 0;
border-color: transparent #00ec66;
display: block;
width: 0;
z-index: 0;
}

#map-popup-description-netgain {
    line-height: normal;
}

#map-popup-description-netgain .spendings {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00ec66;
}

#map-popup-description-netgain .winnings {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;
}

#map-popup-description-netgain .net {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #ff26d6;
}

.styled-select2 {
    text-align: left;
}

.styled-select2 select {
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #555555;
   background: #ffffff;
   width: 105px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 27px;
   -webkit-appearance: none;
   }

.styled-select2 select.large {
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #555555;
   background: #ffffff;
   width: 125px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 27px;
   -webkit-appearance: none;
   }

.dropdown-caret {
    margin-left: -15%;
position: relative;
height: 15px;
top: 0px;
}

.dropdown-caret-login {
    margin-left: -22px;
position: relative;
height: 15px;
top: 8px;
}


label.styled-select2-label{
    padding: 5px;
position: relative;
height: 15px;
top: 4px;
background-color: #ffffff;
display: inline;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #555555;
    margin-right: -1px;
}


.comment-info {
    text-align: left;
    margin-left: 5%;
}

.explain-text {
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #025ff1;
    font-size: 22px;
    margin-left: 8%;
margin-right: 8%;
    margin-top: 1%;
}

.explain-text-not-equal {
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #b0b6bd;
    font-size: 22px;
    margin-left: 8%;
margin-right: 8%;
    margin-top: 1%;
}

.explain-text-odd{
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #00c9c8;
    font-size: 22px;
    margin-left: 8%;
margin-right: 8%;
    margin-top: 2%;
}

.explain-text-odd-not-equal{
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #9518ED;
    font-size: 22px;
    margin-left: 8%;
margin-right: 8%;
    margin-top: 2%;
}

.math-table-center{
    margin: 0 auto;
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #ffffff;
    font-size: 18px;
}

.math-table-center b.spent-blue{
      font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #025ff1;
    font-size: 22px;
}

.math-table-center b.spent-purple{
      font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;
    font-size: 22px;
}


.math-table-center-fixed{
    margin: 0 auto;
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #ffffff;
    font-size: 18px;
}

.bubble-explain-chart-text
{
    /*font-size: 13px;*/
  font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
position: relative;
width: 150px;
height: 40px;
padding: 2px;
background: #FFFFFF;
border: #025FF1 solid 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    margin-left: 40%;
}

.bubble-explain-chart-text :after
{content: "";
position: absolute;
bottom: -8px;
left: 71px;
border-style: solid;
border-width: 8px 6px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble-explain-chart-text :before
{
content: "";
position: absolute;
top: 46px;
left: 70px;
border-style: solid;
border-width: 9px 7px 0;
border-color: #025FF1 transparent;
display: block;
width: 0;
z-index: 0;
}


/*
 * Tours
 */

#addTour {
    background-color: #8d9297;
    display: initial;
}

#addTour .even{
    background-color: #b0b6bd;
    padding:2%;

}

#addTour .odd{
    background-color: #8d9297;
    padding:2%;
}

#addTour #workflow-tour{
    padding: 2%;
    height: 95%;
}

#addTour #workflow-tour label{
     font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #3f3f3f;
    font-size: 15px;
}

#addTour #add_tour_form label{
     font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #3f3f3f;
    font-size: 15px;
}


#author-select-workflow p.add_tour_author{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
    font-size: 15px;
    opacity: .5;
}

#author-select-workflow p.add_tour_photo{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
    font-size: 15px;
}


.slide-header {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #3f3f3f;
    font-size: 20px;
    text-align: center;
}

.tour-hr-title {
    background-color: #3f3f3f;
    width: 100px;
    height: 2px;
    margin: auto;
}

#tour-menu-controls {
    position:fixed;
    width:150px;
    z-index:100;
    right: 3%;
    top: 75%;
}

#tour-menu-controls .tour-menu {
    list-style-type: none;
}


#tour-menu-controls .tour-menu li{
    margin: 1em 0;
}

#tour-menu-controls .tour-menu li button{
    width: 85px;
    color: #ffffff;
}

.styled-select-tour {
    text-align: left;
}

.styled-select-tour select {
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #B0B6BD;
   background: #ffffff;
   width: 150px;
   padding: 5px;
   font-size: 15px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
    box-shadow: 5px 5px 5px #3f3f3f;
   }

.dropdown-caret-tour {
    margin-left: -2%;
position: relative;
height: 15px;
padding-top: 10px;
}

#tourPreview {
    background-color: #ffffff;
    /*left: 0;*/
    margin-left: 0;
}

#tour-preview-cover-photo img.cover-photo {
    width: 940px;
    height: 500px;
}

#tour-preview-team-info img.team-photo {
    height: 110px;
    width: 110px;
    margin-top: 10px;
    margin-left: 10px;
}

#tour-preview-team-info p.tour-paragraph-detail{
    margin-top: 10px;
    font-size: 22px;
}

#tourPreview #tour-preview-image {
    margin-top: 2%;
}

#tourPreview #tour-preview-image img.tour-preview-img{
    height: 330px;
    width: 100%;
}

.tour-details-team-photo-div{
    display: inline-block;
}

.bubble-tour-preview-text p.blurb{
     font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #3f3f3f;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.bubble-tour-preview-text p.audio{
    padding-left: 20px;
}

.bubble-tour-preview-text p.link{
     font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: bottom;
}

.bubble-tour-preview-text
{
position: relative;
width: 620px;
height: 250px;
padding: 0px;
background: greenyellow;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
}

.bubble-tour-preview-text:after
{
content: "";
position: absolute;
top: 59px;
left: -15px;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent greenyellow;
display: block;
width: 0;
z-index: 1;
}

#tours-tab #tour-grid{
    padding-left: 20px;
    padding-right: 20px;
}

#tours-tab .tour-header{
padding-top: 4%;
padding-bottom: 2%;
}

#tours-tab  .tour-header p{
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    font-size: 30px;
    text-decoration: underline;
    color: #3f3f3f;
    text-align: center;

}


#tours-tab #tour-content div.tour-stub {
    display: inline-block;
    width: 235px;
    height: 235px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 1%;
    margin-right: 2%;
}

#tours-tab #tour-content div.tour-stub #tour-stub-cover-photo{
    margin: 1%;
}

#tours-tab #tour-content div.tour-stub #tour-stub-cover-photo img.cover-photo{
    height: 152px;
    width: 98%;
}


#tours-tab #tour-content div.tour-stub #tour-stub-student-blurb{
    margin-top:2%;
    margin-bottom: 2%;
}

#tours-tab #tour-content div.tour-stub #tour-stub-student-blurb div{
    display: inline;
     margin-top:2%;
    margin-bottom: 2%;
}

#tours-tab #tour-content div.tour-stub #tour-stub-student-blurb{
    display: inline;
}

#tours-tab #tour-content div.tour-stub #tour-stub-student-blurb p{
    display: inline;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
    font-size: 13px;
}

#tours-tab #tour-content div.tour-stub #tour-stub-student-blurb img.team-photo{
    width: 66px;
    height: 66px;
    margin-left: 3px;
}


#tour-slide-cover-photo img.cover-photo {
    width: 940px;
    height: 500px;
}

#tour-slide-team-info img.team-photo {
    height: 110px;
    width: 110px;
    margin-top: 10px;
    margin-left: 10px;
}

#tour-slide-team-info p.tour-paragraph-detail{
    margin-top: 10px;
    font-size: 22px;
}

#tourPreview #student-blurb img.team-photo {
    height: 110px;
    width: 110px;
    margin-top: 20px;
}

#tourPreview #tour-image {
    margin-top: 2%;
}

#tourPreview #tour-image img.tour-img{
    height: 330px;
    width: 100%;

}

#about-container {
    background-color: #025ff1;
    text-align: center;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
}

#about-container p.about-header {
    padding-top: 2%;
    color: #ffffff;
    font-size: 30px;
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

#about-container p.about-body {
    font-size: 22px;
    color: #00c9c8;
    padding-left: 3%;
padding-right: 3%;
padding-top: 1%;
}

#about-container p.about-header-sub,
#about-container p.about-header-sub a{
    padding-top: 1%;
    padding-bottom: 1%;
    color: #ffffff;
    font-size: 24px;
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

#home-page-container #homepage-interviews-square{
    background-color: #025ff1;
    line-height: 20em;
}

#home-page-container #homepage-tours-square{
    background-color: #025ff1;
    line-height: 20em;
}

#home-page-container .home-page-rollover{
    background-color: transparent;
    /*width: 50%;*/
    height: 354px;
}

#home-page-container .home-page-rollover p{
    /*margin-top: 10%;*/
    /*margin-bottom: 10%;*/
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    /*line-height: 100%;*/
    color: #ffffff;
    font-size: 33px;
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    text-align: center;
    text-decoration: underline;
    vertical-align: middle;
}


#home-page-container #homepage-map-square{
    background-color: #025ff1;
    line-height: 20em;
}

#home-page-container .home-page-rollover{
    background-color: transparent;
    /*width: 50%;*/
    height: 354px;
}

#home-page-container .home-page-rollover p{
    /*margin-top: 10%;*/
    /*margin-bottom: 10%;*/
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    /*line-height: 100%;*/
    color: #ffffff;
    font-size: 33px;
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    text-align: center;
    text-decoration: underline;
    vertical-align: middle;
}

#home-page-container img {
    width: 100%;
    height: 354px;
}


#home-page-container .no-margin{
    margin-left: 0px;
}

#home-page-container .blue-back{
    background-color: #00c9c8;
    /*width: 50%;*/
    height: 354px;
}

#home-page-container p.home-page-info {
    line-height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color: #025ff1;
    font-size: 33px;
    font-family: "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    text-align: center;
}

#interview-pagination{
    margin-top: 5%;
    text-align: center;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
    font-size: 15px;
}

#interview-pagination a{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
}

#interview-pagination  #pagination-next-page{
    margin-left: 3%;
}

#interview-pagination #pagination-prev-page{
    margin-right: 3%;
}

#tour-pagination{
    margin-top: 5%;
    text-align: center;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
    font-size: 15px;
}

#tour-pagination a{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
}

#tour-pagination  #pagination-next-page{
    margin-left: 3%;
}

#tour-pagination #pagination-prev-page{
    margin-right: 3%;
}

@media (max-width: 979px) and (min-width: 768px){
.navbar .brand {
    width: 311px;
    padding-left: 0;
}
}

#explain-chart-breakdown p.explain-chart-breakdown-equation {
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #FFFFFF;
    font-size: 18px;
}

#median_household_rollover:link{
    color: #b0b6bd;
    text-decoration: underline;
}

#median_household_rollover:visited{
    color: #b0b6bd;
}

#explain-chart-breakdown p.explain-chart-breakdown-equation b {
    padding-left: 4%;
    padding-right: 4%;
}

#explain-chart-breakdown p.explain-chart-breakdown-equation b.spent-blue {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00c9c8;
    font-size: 22px;
}

.chart-percent-explain {
    margin-top: 1%;
}

.chart-percent-explain .rule {
    font-size: 10px;
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    text-align: left;
}

.chart-percent-explain rect {
   stroke: white;
 }

.chart-percent-explain rect:nth-child(1){
    fill-opacity: .7;
  fill: #B0B6BD;
}

.chart-percent-explain rect:nth-child(2){
    fill-opacity: 1;
  fill: #00c9c8;
}

.chart-percent-explain rect:nth-child(3){
    fill-opacity: 1;
  fill: #025ff1;
}

img.percent-income-365{
    margin-left: 22px;
}

.map-popup #map-popup-description{
    margin-top: 5%;
    line-height: normal;
    text-align: left;
}

.map-popup #map-popup-description p.description b.blue{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #025ff1;
}

#percent_income_graph_text  b.blue{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #025ff1;
}

b.blue-2{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00c9c8;
}

#tooltip-percent-income {
    position:absolute;
    display:none;
    z-index:1000;
    background-color:black;
    color:white;
    border: 1px solid black;
}

.not-all-equal-center{
    margin-left: 32%;
}

/*.not-all-equal-top{*/
    /*margin-left: -50px;*/
/*}*/

/*.not-all-equal-bottom{*/
    /*margin-left: -50px;*/
/*}*/

.td-space{
    padding: 40px;
}

#dollar-td {
    width: 265px;
    float: right;
    text-align: left;
}

#smiley-td{
    width: 260px;
    float: right;
    text-align: left;
}

.td-bottom-align{
    vertical-align: bottom;
}

.td-top-align{
    vertical-align: top;
}

img.dollar-sign-img{
    padding-right: 6px;
    padding-left: 6px;
}

b.net-loss-red {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #ff26d6;
}

b.net-loss-grey{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #b0b6bd;
}

b.net-loss-purple{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;
}

#total-stores-top{
 font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;
    /*margin-left: 5%;*/

}

#total-stores-bottom{
 font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;
    /*margin-left: 5%;*/
}

.tooltip .tooltip-inner {
  color: #000000;
  background-color: #ffffff;
}

#win-spend-tooltip  {
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #000000;
    font-size: 13px;
    text-align: center;
}

#win-spend-tooltip p.title {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

#win-spend-tooltip b.spend-tooltip-green {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #00ec66;
}


#win-spend-tooltip b.win-tooltip-purple {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #9518ed;
}

#win-spend-tooltip b.net-loss-tooltip-red {
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #ff26d6;
}

.rollover-tooltip {
    text-align: center;
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #000000;
    font-size: 13px;
}

.citydigits-zoomer {
    position: absolute;
    z-index: 110;
    top: 59px;
    background-color: #000000;
    border-radius: 5px;
    height: 31px;
    box-shadow: 2px 2px 15px;
    left: 15px;
}
.citydigits-zoomer #zoom-out{
    margin-left: -5px;
}
.citydigits-zoomer #zoom-out:hover{
    opacity: .9;
}
.citydigits-zoomer #zoom-in:hover{
    opacity: .9;
}

.interview-tooltip {
    width: 250px;
    height: 90px;
}

.interview-tooltip img{
 height: 80px;
    width: 80px;
}

.interview-tooltip p.interview-rollover-name{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #000000;
    font-size: 15px;
    margin-top: 0px;
}

.interview-tooltip p.interview-rollover-name{
    font-family:  "Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal;
    color: #000000;
    font-size: 15px;
}

.interview-tooltip p.interview-rollover-about{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #000000;
    font-size: 12px;
}

label.checkbox{
    font-family: "Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
    color: #3f3f3f;
    font-size: 15px;
}

.interview-pull-left{
    margin-left: 20px;
}

.add-media-styled-button {
    display: inline-block;
    margin-top: 10px;
    width: 94px;
    height: 26px;
    background-image: url('/static/img/add_media.png');
    background-repeat: no-repeat;
    cursor:pointer;
    border: none;
    box-shadow: 5px 5px 5px #3f3f3f;
}

.add-media-styled-button input {
    filter: alpha(opacity=0);
   opacity: 0;
}

#addInterviewModal #add_interview_form span.no-file-chosen {
display: inline-block;
margin-left: 10px;
    opacity: .5;;
}

label.instructional-text{
    font-size: 12px;
    color: #000000;
    opacity: .5;
}

.no-space [class*="span"]{
  margin-left: 0 !important;
  width: 50% !important; // This is for 2 elements ONLY in the row
}