<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>City Digits, from Civic Data Design Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

  <body>

   <h1>Page unavailable</h1>

    <p>Sorry, but the requested page is unavailable due to a
    server hiccup.</p>

    <footer class="footer" id="city_digits_footer">
        <p>Copyright 2013 City Digits</p>
    </footer><!-- footer -->

  </body>
</html>