<div id="about-container" >
    <div id="about-main-page">
        <p class="about-header">What is City Digits: Local Lotto?</p>
        <p class="about-body">
            The Local Lotto tool is a visualization of the spatial patterns of the lottery in New York City.
            The interactive map allows users to understand where people are winning and losing money from the lottery,
            while also learning about the social demographics of those neighborhoods. It is a site for discussion about
            how the lottery affects local communities.<p>
        <p class="about-body"> This tool is part of the Local Lotto curriculum, a high-school-level module that uses the
        theme of the state lottery to teach mathematical concepts in data analysis and probability and to explore social issues surrounding the lottery.</p>
        <p class="about-body">
         Local Lotto is the first module of the City Digits project, an effort to develop place-based curricular modules that investigate and analyze specific themes related to the local, urban context to support high school students’ learning of mathematics. The curricular modules are enhanced by the integration of geo-spatial technologies, like the Local Lotto tool, which enable students to explore their local urban landscape, collect field data, and organize and visualize patterns.
         For more information, visit <a href="http://www.citydigits.org">citydigits.org</a>.
        </p>
        <br>
        <p class="about-header">Where does your data come from?</p>
        <p class="about-body">
            Demographic and household income is from the 2010 Census. All lottery data is from the NYS Lottery for 2010.
            Winnings data represents winning tickets of $5,000 or more, geo-coded by retailer store. Sales data represents
            total sales at a retailer store. We are also using a modified version of the <a href="http://www.infoshare.org/">Infoshare Neighborhood</a> file.
            Base data was obtained from Open Street Maps and New York City Building Footprints, Roadbeds, and Subway
            Entrances come from <a href="https://data.cityofnewyork.us/browse?tags=doitt%20gis">New York City Department of Information Technology and Telecommunications (DOITT)</a>.
        <p>
        <p class="about-body"><a href="#" id="about-read-more-link">Read more about the map data components.</a></p>
        <br>
        <p class="about-header">Who made this?</p>
        <p class="about-body"><a href="http://www.civicdatadesignlab.org/">MIT Civic Data Design Lab</a>, <a href="http://www.brooklyn.cuny.edu/web/home.php">
            Brooklyn College</a>, and the <a href="http://welcometocup.org/">Center for Urban Pedagogy</a> collaborated
            to create Local Lotto as part of a three year project to conduct urban investigations with youth to promote
            science and math literacy in New York City. MIT’s Civic Data Design Lab collected the data, worked to
            geographical represent the information, and develop and interactive interface. The whole project team
            worked toward the ultimate design directions and use scenarios of the tool.
        </p>
        <br>
        <p class="about-header">City Digits Team</p>
        <p class="about-header-sub"><a href="http://www.civicdatadesignlab.org/">Civic Data Design Lab</a></p>
        <p class="about-body">Sarah Williams, Director</p>
        <p class="about-body">Erica Deahl, Research Assistant</p>
        <p class="about-body">Alicia Rouault, Research Assistant</p>
        <p class="about-body">Liqun Chen, Research Assistant</p>
        <p class="about-body">Vikash Dat, Developer</p>
        <p class="about-body">Andrew Woodruff and Axis Maps, Developer</p>
        <p class="about-header-sub"><a href="http://www.brooklyn.cuny.edu/web/home.php">Brooklyn College of the City University of New York</a> </p>
        <p class="about-body">Laurie Rubel, Principal Investigator of City Digits and Associate Professor of Secondary Education</p>
        <p class="about-body">Vivian Lim, Research Assistant</p>
        <p class="about-body">Kellyn Morris, Research Assistant</p>
        <p class="about-body">Lauren Shookhoff, Teacher, New York City Department of Education</p>
        <p class="about-header-sub"><a href="http://welcometocup.org/">Center for Urban Pedagogy</a> </p>
        <p class="about-body">Valeria Mogilevich, Program Director</p>
        <p class="about-body">Jose Ojeda, Teaching Artist</p>
        <p class="about-body">Christine Gaspar, Executive Director</p>
        <p class="about-header-sub">Funded by the <a href="">National Science Foundation (NSF)</a> </p>
        <p class="about-body">This material is based upon work supported by the National Science Foundation under Grant
            No. DRL-1222430. Any opinions, findings, and conclusions or recommendations expressed in this material are
            those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
        </p>
    </div>
    <div id="about-read-more" class="hidden">
        <p class="about-header">% Income Spent on Lottery & Median Income Maps</p>
        <p class="about-body"><b>FINAL CALCULATION</b> = (Average Sales per Household per Day / Median Household
            Income per Day) *100 = %  Income Spent on Lottery.</p>
        <br/>
        <br/>
        <p class="about-body"><b>Data Components:</b></p>
        <br/>
        <p class="about-body"><b>Average sales per day</b> is all sales summed up by neighborhood for 2010 divided by 365 days. </p>
        <p class="about-body"><b>Median household income per day</b> came from 2010 Census neighborhood data on
            (www.infoshare.org/) divided by 365. Some infoshare neighborhoods were combined to make neighborhoods bigger.</p>
        <p class="about-body"><b>Number of households</b> was taken from Infoshare neighborhood data for 2010 census.
            Some infoshare neighborhoods were combined to make neighborhoods bigger.</p>
        <p class="about-body"><b>Average Sales by household per day</b> is  (Average Sales per Day /Households).</p>
        <br/>
        <br/>
        <br/>
        <p class="about-header">Average Winnings, Average Spending, & Net Gain or Loss Maps</p>
        <br/>
        <br/>
        <p class="about-body"><b>City-level view:</b></p>
        </br>
        <p class="about-body">Winnings data represents winning tickets of $5,000 or more for 2010, geo-coded by retail store. <b>winnings per day
        at an average neighborhood store</b> = ( sum of 2010 lottery winnings from all retail stores in a neighborhood / number of stores ) / 365</p>
        <p class="about-body"><b>spending per day at an average neighborhood store</b> = ( sum of 2010 lottery sales for all
            retail stores in a neighborhood / number of stores ) / 365</p>
        <p class="about-body"><b>net gain or loss at an average neighborhood store</b> = winnings per day at an average retail store - spending per day at an average retail store</p>
        <br>
        <p class="about-body"><b>Street-level view:</b></p>
        <p class="about-body"><b>winnings per day at a neighborhood store</b> = sum of all winning tickets of $5,000 or more at a retail store for 2010 / 365</p>
        <p class="about-body"><b>spending per day at a neighborhood store</b> = total lottery spending at a retail store for 2010 / 365</p>
        <p class="about-body"><b>net gain or loss at a neighborhood store</b> = winnings per day at a retail store - spending per day at a retail store</p>
        <p class="about-header"><a href="#" id="back-to-about"> << Back </a> </p>
    </div>
</div>