<button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
    <img src="{{ STATIC_URL }}/img/close.png"/>
</button>
<div class="tour-header">
<p class="slide-header">Add a Tour<hr class="tour-hr-title"></p>
</div><!-- interview-header -->
<form id="add_tour_form" enctype="multipart/form-data" class=" tour-form" method="post" action="/tour/new/">
    <div class="modal-body">
        <div id="tour-menu-controls" class="">
            <ul class="tour-menu">
                <li><button class="btn btn-primary" id="save_tour_button">Save</button> </li>
                <li><button class="btn btn-primary" id="save_preview_button">Preview</button> </li>
                <li><button class="btn btn-primary" id="save_publish_button">Publish</button> </li>
            </ul>
        </div>
        <div id="workflow-tour">
            <label>Author</label>
                <div id="author-select" class="container">
                    <div class="row-fluid styled-select-tour input-append" id="author_select">
                        <select id="authors[]" name="authors[]" placeholder="Select a Student">
                        {% for student in students %}
                            <option value="{{ student.id }}">{{ student.firstName }}</option>
                        {% endfor %}
                        </select>
                        <img class="dropdown-caret-tour" src="{{ STATIC_URL }}/img/select_arrow.png">
                    </div>
                    <div class="row-fluid styled-select-tour input-append" id="author_select">
                        <select id="authors[]" name="authors[]" placeholder="Select a Student">
                        {% for student in students %}
                            <option value="{{ student.id }}">{{ student.firstName }}</option>
                        {% endfor %}
                        </select>
                        <img class="dropdown-caret-tour" src="{{ STATIC_URL }}/img/select_arrow.png">
                    </div>
                    <p id="add_tour_author">+ Add a student</p>
                </div>
        <br>
            <label>Add a team photo</label>
            {{ tour.teamPhoto }}
        <br>
            <label>Title of your tour</label>
            {{ tour.title }}
        </div>
        <div id="workflow-slides">
            {% for form in slide_formset.forms %}
                {% if forloop.counter|divisibleby:2 %}
                    <div id="slide_{{ forloop.counter }}" class="even">
                {% else %}
                    <div id="slide_{{ forloop.counter }}" class="odd">
                {% endif %}
                <p class="slide-header">Slide {{ forloop.counter }}</p>
                {{ form.as_p }}
                </div>
            {% endfor %}
       </div><!-- workflow -->
    </div> <!-- modal-body -->
</form>