<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>City Digits, from Civic Data Design Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
     <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
    <![endif]-->
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="//f.fontdeck.com/s/css/zH28mslJNSfrEtk/N8vkA5GMvEQ/DOMAIN_NAME/35051.css" type="text/css" />
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#map-tab" data-toggle="tab">MAP</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#interviews-tab" data-toggle="tab">INTERVIEWS</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#about-tab" data-toggle="tab">ABOUT</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#tours-tab" data-toggle="tab">TOURS</a></li>
            </ul>
            <h4 class="brand">City Digits: Local Lotto</h4>
            {% if user.is_authenticated %}
              <div id="logged_in_nav_bar">
                <ul class="nav pull-right">
                    <li><button class="btn interview-button" aria-hidden="true" id="add-interview" data-form="/interview/new/">Add Interview</button></li>
                    <li class="divider-vertical"></li>
                    <li><a href="" class="membership-logout" data-form="/logout">LOGOUT</a></li>
                </ul><!-- ul -->
              </div><!-- logged_in_nav_bar -->
            {% else %}
              <div id="login_nav_bar">
                <ul class="nav pull-right">
                    <li><a class="membership" href="#" data-form="/signup">SIGN UP</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="" class="membership-login" data-form="/login">LOGIN</a></li>
                </ul><!-- ul -->
              </div><!-- login_nav_bar -->
            {% endif %}
          </div><!--/.nav-collapse -->
        </div><!-- container -->
      </div> <!-- navbar-inner -->
    </div><!--nav-bar -->

    <div class="container-fluid">
        <div class="modal hide" id="signUpModal"></div><!--sign up modal -->
        <div class="modal hide" id="loginModal"></div><!-- login modal -->
        <div class="modal hide" id="addInterviewModal"></div><!-- add interview modal -->
        <div class="modal hide" id="mapPopupModal"></div><!-- add interview modal -->
        <div class="tab-content">
            <div class="tab-pane active" id="map-tab">
                <div class="row">
                    <div class="span4">
                       <div id="map-nav" class="map-nav map-ui"></div><!-- map-nav -->
                    </div>
                    <div class="span4"></div>
                    <div class="span4">
                        <div id="map-popup-1" class="map-popup  map-ui-popup-1 hide row"></div><!-- mav popup 1-->
                        <br>
                        <div id="map-popup-2" class="map-popup map-ui-popup-2 hide row"></div><!-- mav popup 2-->
                    </div>

                </div>
                <div class="map-content" id="map"></div><!-- map div -->
            </div><!-- tab-pane map -->
            <div class="tab-pane" id="interviews-tab">TODO: INTERVIEWS</div><!-- tab-pane interviews -->
            <div class="tab-pane" id="about-tab">TODO: ABOUT</div><!-- tab-pane about -->
            <div class="tab-pane" id="tours-tab">TODO: TOURS</div><!-- tab-pane tours -->
         </div> <!-- tab-content -->
    </div> <!-- /container -->

    <!--  javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script src="{{ STATIC_URL }}/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/raphael-min.js"></script>
    <script src="{{ STATIC_URL }}/js/g.raphael-min.js"></script>
    <script src="{{ STATIC_URL }}/js/g.bar-min.js"></script>
    <script src="{{ STATIC_URL }}/js/geoJsonNeighborhoods.js"></script>
    <script src="{{ STATIC_URL }}/js/CityDigitsMaps.js"></script>
    <script src="{{ STATIC_URL }}/js/application.js"></script>
  </body>
</html>