{% for comment in comments %}
        <div class="row">
            <div class="span3 comment-info">
                <div class="row-fluid">
                    <b class="comment-name">{{ comment.name }}</b>
                </div>
                {% if comment.commterClass|length > 0 %}
                <div class="row-fluid">
                    {{ comment.commenterClass }}
                </div>
                {% endif %}
                <div class="row-fluid">
                    {{ comment.created_at|date:"M d, Y" }}
                </div>
            </div>
            <div class="span7 comment-text">
                {{ comment.comment|safe }}
            </div>
            <div class="span2"></div>
        </div>
    <br>
 {% endfor %}