<div class="interview-header">
    <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
        <img src="{{ STATIC_URL }}/img/close.png"/>
    </button>
<h3>Add an Interview</h3>
</div><!-- interview-header -->
<div class="modal-body">
  <div id="workflow">
      <p>Do people in your neighborhood play the lottery? How do your neighbors think the lottery affects the neighborhood?
      Add an interview and join the conversation.</p>
  </div><!--workflow-->
</div> <!-- modal-body -->
<div class="modal-footer">
  <button class="btn interview-button pull-left" aria-hidden="true" id="add-player-interview">Add Player Interview</button>
  <button class="btn interview-button pull-right" aria-hidden="true" id="add-retailer-interview">Add Retailer Interview</button>
</div>