<div class="interview-header">
<p><span class="underline-black">Interviews</span></p>
</div><!-- interview-header -->
<div id="toolbar" class="container-fluid">
    <div class="pull-left">
        <label class="checkbox">
            {% if toolbar.player %}
                <input type="checkbox" class="interview-toolbar" id="interview_type_player" name="interview_type" value="PLAYER" checked>Player Interviews
            {%  else %}
                <input type="checkbox" class="interview-toolbar" id="interview_type_player" name="interview_type" value="PLAYER" >Player Interviews
            {% endif %}
        </label>
    </div>
    <div class="pull-left interview-pull-left">
        <label class="checkbox">
            {% if toolbar.retailer %}
                <input type="checkbox" class="interview-toolbar"  id="interview_type_retailer" name="interview_type" value="RETAILER" checked>Retailer Interviews
            {% else %}
                <input type="checkbox" class="interview-toolbar"  id="interview_type_retailer" name="interview_type" value="RETAILER" >Retailer Interviews
            {% endif %}
        </label>
    </div>
    <div class=" styled-select2 pull-right input-append input-prepend">
        <label class="styled-select2-label"><b>Class: </b></label>
        <select id="class" class="interview-toolbar large"  name="class">
            {%  if toolbar.searchClass == 'ALL' %}
                <option value="ALL"selected>ALL</option>
            {% else %}
                <option value="ALL">ALL</option>
            {% endif %}
            {% for class in classes %}
                {% if toolbar.searchClass == class %}
                    <option value="{{ class }}" selected>{{ class }}</option>
                {% else %}
                    <option value="{{ class }}">{{ class }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <img class="dropdown-caret" src="{{ STATIC_URL }}/img/select_arrow.png">
    </div>
    <div class=" styled-select2 pull-right input-append input-prepend">
        <label class="styled-select2-label"><b>Team: </b></label>
        <select id="team" class="interview-toolbar"  name="team">
            {% if toolbar.searchTeam == 'ALL' %}
                <option value="ALL" selected>ALL</option>
            {% else %}
                <option value="ALL">ALL</option>
            {% endif %}
            {% for team in teams %}
                {% if toolbar.searchTeam ==  team  %}
                    <option value="{{ team }}" selected>{{ team }}</option>
                {% else %}
                     <option value="{{ team }}">{{ team }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <img class="dropdown-caret" src="{{ STATIC_URL }}/img/select_arrow.png">
    </div>
</div><!-- toolbar-->
<div id="interview-content" class="container">
    {% for interview in interviews %}
        <div class="interview-stub row-fluid" id="{{ interview.id }}">
            {% if interview.interviewType == 'PLAYER' %}
                <p class="interviewee-name">{{ interview.getInterview.firstName }}</p>
            {% else %}
                <p class="interviewee-name">{{ interview.getInterview.storeName }}</p>
            {% endif %}
            <div style="height: 280px; width: 280px; margin: auto"><img src="{{ MEDIA_URL }}/{{ interview.getInterview.photo }}" class="interviewee-photo"></div>
            {% if interview.interviewType == "PLAYER" %}
                <img src="{{ STATIC_URL }}/img/playermarker_{{ interview.student.team.name.lower }}.png" class="interviewee-team">
            {% else %}
                <img src="{{ STATIC_URL }}/img/retailermarker_{{ interview.student.team.name.lower }}.png" class="interviewee-team">
            {% endif %}
            <p class="interviewee-by-description"><b>By:</b> {{ interview.student.team.name }} team,{{ interview.student.team.teacher.className }}
            <br>
            {{ interview.created_at|date:"M d, Y" }}</p>

        </div>
    {% endfor %}

</div><!--interview content -->
<div id="interview-pagination">
    <span class="step-links">
        {% if interviews.has_previous %}
            <a href="#" id="pagination-prev-page" data-form="{{ interviews.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            {% for pageNum in pages_to_display %}
                 {% if pageNum == tours.number %}
                     <a class="pagination-page pagination-active-page" href="#" data-form="{{ pageNum }}">{{ pageNum }}</a>
                 {% else %}
                     <a class="pagination-page" href="#" data-form="{{ pageNum }}">{{ pageNum }}</a>
                {% endif %}
            {% endfor %}
        </span>

        {% if interviews.has_next %}
            <a href="#" id="pagination-next-page" data-form="{{ interviews.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>