<div class="interview-header">
<p>Interviews</p>
</div><!-- interview-header -->
<div id="toolbar" class="container-fluid">
    <div class="span2">
        <label class="checkbox">
            <input type="checkbox" id="interview_type" name="interview_type" value="PLAYER" checked>Player Interviews
        </label>
    </div>
    <div class="span2">
        <label class="checkbox">
            <input type="checkbox" id="interview_type" name="interview_type" value="RETAILER" checked>Retailer Interviews
        </label>
    </div>
    <div class="span1"></div>
    <div class="span1"></div>
    <div class=" styled-select2 span2 input-append">
        <select id="team" name="team">
            <option value="ALL" selected><b>Team</b> ALL</option>
            {% for team in teams %}
                <option value="{{ team }}"><b>Team</b> {{ team }}</option>
            {% endfor %}
        </select>
        <img class="dropdown-caret" src="{{ STATIC_URL }}/img/select_arrow.png">
    </div>
    <div class=" styled-select2 span2 input-append">
        <select id="class" name="class">
            <option value="ALL">ALL</option>
            {% for class in classes %}
                <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
        </select>
        <img class="dropdown-caret" src="{{ STATIC_URL }}/img/select_arrow.png">
    </div>
    <div class="span1"></div>
    <div class="span1"></div>
</div><!-- toolbar-->
<div id="interview-content" class="container-fluid">
    {% for interview in interviews %}
        <div class="interview-stub row-fluid" id="{{ interview.id }}">
            {% if interview.interviewType == 'PLAYER' %}
                <p class="interviewee-name">{{ interview.getInterview.firstName }}</p>
            {% else %}
                <p class="interviewee-name">{{ interview.getInterview.storeName }}</p>
            {% endif %}
            <img src="{{ MEDIA_URL }}/{{ interview.getInterview.photo }}" class="interviewee-photo">
            <img src="{{ STATIC_URL }}/img/playermarker_{{ interview.student.team.name.lower }}.png" class="interviewee-team">
            <p class="interviewee-by-description"><b>By:</b> {{ interview.student.team.name }} team,{{ interview.student.team.teacher.className }}
            <br>
            {{ interview.created_at }}</p>

        </div>
    {% endfor %}

</div><!--interview content -->
<div id="interview-pagination"></div>