<form id="login_form" class="well login-form" method="post" action="/login/">
               {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
       <img src="{{ STATIC_URL }}/img/modal_close.png"/>
    </button>
    <h3>Login</h3>
    <hr width="70px">
  </div><!-- modal-header -->
  <div class="modal-body">
      <div id="workflow_1">
          {{ form.non_field_errors }}
          <div class="fieldGroup">
              <table>
                  <tr>
                      <td>
                          <div class="styled-select">
                              <div class="fieldWrapper">
                                {{ form.role.errors }}
                                {{ form.role }}
                              </div><!--fieldWrapper -->
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="fieldWrapper">
                              {{ form.username.errors }}
                              {{ form.username }}
                          </div><!--fieldWrapper -->
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="fieldWrapper">
                              {{ form.password.errors }}
                              {{ form.password }}
                          </div><!--fieldWrapper -->
                      </td>
                  </tr>
              </table>
          </div><!-- fieldGroup -->
      </div><!--workflow_1-->
  </div> <!-- modal-body -->
  <div class="modal-footer">
      <button class="btn pull-left form_button submit" aria-hidden="true">Login</button>
  </div>
</form>