{%  load number_tags %}
<button type="button" class="close div-close">
    <img src="{{ STATIC_URL }}/img/close.png"/>
</button>
    <div id="map-popup-header">
        <p>{{ neighborhood }}</p>
    </div>
    <div id="map-popup-graphic">
        <div class="bubble-median_income_graph_text " id="median_income_graph_text"></div>
        <div id="map-popup-graphic-holder"></div>
        <div class="bubble-percent_income_graph_text " id="percent_income_graph_text"></div>
    </div>
    <div id="map-popup-description">
        <p class="description">Players in {{ neighborhood }}, on average, spend <b class="blue">{{ percent|roundToHalf|floatformat:1 }}%</b> of their income on lottery
        tickets. This means they spend ${{ amountSpent|roundToHalf|floatformat:1 }}0 of every $100 earned on lottery tickets.</p>
    </div>
    <div id="map-popup-footer">
        <button class="btn form_button" id="math_explain" aria-hidden="true" data-form="/mathematical_explain/{{ neighborhoodUrl }}/{{ amountSpent }}/{{ income }}/">How much is that?</button>
    </div>
