<button type="button" class="close div-close">
    <img src="{{ STATIC_URL }}/img/close.png"/>
</button>
    <div id="map-popup-header">
        <p>{{ neighborhood }}</p>
    </div>
    <div id="map-popup-graphic">
         <div id="map-popup-graphic-holder"></div>
    </div>
    <div id="map-popup-description">
        <p class="description">On an average day in 2010 at a store in {{ neighborhood }} that sells lottery tickets, players
            spent ${{ spent }} and won ${{ won }}.</p>
    </div>
    <div id="map-popup-footer">

    </div>
