<h6>VIEW MAP</h6>
<ul id="map-nav-list">
    <li class="active" id="PERCENT_INCOME">
        <a href="#">% INCOME SPENT ON LOTTERY</a>
        <div id="map-ui-subnav-content">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 0px;">0%</p>
                    <p class="legend-label" style="left: 19%;">0.5%</p>
                    <p class="legend-label" style="left: 38%;">1.5%</p>
                    <p class="legend-label" style="left: 57%;">2%</p>
                    <p class="legend-label" style="left: 76%;">3%</p>
                    <p class="legend-label" style="left: 95%;">15%</p>
                </div>
            </div>
        </div>
    </li>
    <li id="MEDIAN_INCOME">
        <a href="#">MEDIAN INCOMES</a>
        <div id="map-ui-subnav-content" class="hide">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 0px;">$0</p>
                    <p class="legend-label" style="left: 19%;">$100</p>
                    <p class="legend-label" style="left: 38%;">$140</p>
                    <p class="legend-label" style="left: 57%;">$170</p>
                    <p class="legend-label" style="left: 76%;">$220</p>
                    <p class="legend-label" style="left: 95%;">$450</p>
                </div>
            </div>
        </div>
    </li>
    <li id="AVG_WIN">
        <a href="#">AVERAGE WINNINGS</a>
        <div id="map-ui-subnav-content" class="hide">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 0px;">$0</p>
                    <p class="legend-label" style="left: 19%;">$30</p>
                    <p class="legend-label" style="left: 38%;">$60</p>
                    <p class="legend-label" style="left: 57%;">$90</p>
                    <p class="legend-label" style="left: 76%;">$130</p>
                    <p class="legend-label" style="left: 95%;">$2700</p>
                </div>
            </div><!-- map-legend -->
            <div id="map-legend-street" class="hide">
                <img src="/static/img/street-level-graph.png">
            </div>
            <div id="map-view-level" class="row-fluid">
                <div class="span6 active" id="map-city-level-view-winnings">
                    <img src="/static/img/city-level-map.png">
                    <p>City Level</p>
                </div>
                <div class="span6" id="map-street-level-view-winnings">
                    <img src="/static/img/neighborhood-level-map.png">
                    <p>Street Level</p>
                </div>
            </div>
        </div>
    </li>
    <li id="AVG_SPEND">
        <a href="#">AVERAGE SPENDING</a>
        <div id="map-ui-subnav-content" class="hide">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 0px;">$0</p>
                    <p class="legend-label" style="left: 19%;">$800</p>
                    <p class="legend-label" style="left: 38%;">$1070</p>
                    <p class="legend-label" style="left: 57%;">$1280</p>
                    <p class="legend-label" style="left: 76%;">$1630</p>
                    <p class="legend-label" style="left: 95%;">$8000</p>
                </div>
            </div>
            <div id="map-legend-street" class="hide">
                <img src="/static/img/street-level-graph-spending.png">
            </div>
            <div id="map-view-level" class="row-fluid">
                <div class="span6 active" id="map-city-level-view-spendings">
                    <img src="/static/img/city-level-map.png">
                    <p>City Level</p>
                </div>
                <div class="span6" id="map-street-level-view-spendings">
                    <img src="/static/img/neighborhood-level-map.png">
                    <p>Street Level</p>
                </div>
            </div>
        </div>
    </li>
    <li id="NET_GAIN_LOSS">
        <a href="#">NET GAIN OR LOSS</a>
        <div id="map-ui-subnav-content" class="hide">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 0px;">-$6700</p>
                    <p class="legend-label" style="left: 19%;">-$1500</p>
                    <p class="legend-label" style="left: 38%;">-$1200</p>
                    <p class="legend-label" style="left: 57%;">-$1000</p>
                    <p class="legend-label" style="left: 76%;">$0</p>
                    <p class="legend-label" style="left: 95%;">$1300</p>
                </div>
            </div>
             <div id="map-legend-street" class="hide">
                <img src="/static/img/street-level-graph-netgainloss.png">
            </div>
            <div id="map-view-level" class="row-fluid">
                <div class="span6 active" id="map-city-level-view-netgainloss">
                    <img src="/static/img/city-level-map.png">
                    <p>City Level</p>
                </div>
                <div class="span6" id="map-street-level-view-netgainloss">
                    <img src="/static/img/neighborhood-level-map.png">
                    <p>Street Level</p>
                </div>
            </div>
        </div>
    </li>
</ul>
 <div class="map-ui-interviews">
     <p class="interviews">VIEW INTERVIEWS</p>
     <br>
    <label class="checkbox"><input type="checkbox" id="turn_on_player_interviews">PLAYER INTERVIEWS</label>
    <label class="checkbox"><input type="checkbox" id="turn_on_retailer_interviews">RETAILER INTERVIEWS</label>
     <p class="interviews">VIEW ALL SCHOOLS</p>
 </div>
