<button type="button" class="close div-close">
    <img src="{{ STATIC_URL }}/img/close.png"/>
</button>
    <div id="map-popup-header">
        <p>{{ neighborhood }}</p>
    </div>
    <div id="map-popup-graphic">
         <div id="map-popup-graphic-holder"></div>
        <div class="bubble-net_winnings_graph_text " id="net_winnings_graph_text"></div>
        <div class="bubble-net_spenings_graph_text " id="net_spenings_graph_text"></div>
    </div>
    <div id="map-popup-description-netgain">
        <p class="description">On an average day in 2010 at a store in {{ neighborhood }} that sells lottery tickets, players
            spent <b class="spendings"> ${{ spent|floatformat:0 }} </b> and won <b class="winnings"> ${{ won|floatformat:0 }} </b>.</p>

    </div>
    <div id="map-popup-footer">
        <button class="btn form_button" id="not_all_equal" aria-hidden="true" data-form="/not_all_equal/{{ id }}/">Not all stores are equal</button>
    </div>
