<h6>VIEW MAP</h6>
<ul id="map-nav-list">
    <li class="active" id="PERCENT_INCOME">
        <a href="#">% INCOME SPENT ON LOTTERY</a>
        <div id="map-ui-subnav-content">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 10px;">0%</p>
                    <p class="legend-label" style="left: 20px;">0.5%</p>
                    <p class="legend-label" style="left: 23px;">1.5%</p>
                    <p class="legend-label" style="left: 25px;">2%</p>
                    <p class="legend-label" style="left: 25px;">3%</p>
                    <p class="legend-label" style="left: 26px;">15%</p>
                </div>
            </div>
        </div>
    </li>
    <li id="MEDIAN_INCOME">
        <a href="#">MEDIAN INCOMES</a>
        <div id="map-ui-subnav-content" class="hide">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 10px;">$0</p>
                    <p class="legend-label" style="left: 12px;">$100</p>
                    <p class="legend-label" style="left: 15px;">$140</p>
                    <p class="legend-label" style="left: 20px;">$170</p>
                    <p class="legend-label" style="left: 25px;">$220</p>
                    <p class="legend-label" style="left: 25px;">$450</p>
                </div>
            </div>
        </div>
    </li>
    <li id="AVG_WIN">
        <a href="#">AVERAGE WINNINGS</a>
        <div id="map-ui-subnav-content" class="hide">
            <div id="map-legend">
                <div id="legend-squares" class="average_winnings_legend_square">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 10px;">$0</p>
                    <p class="legend-label" style="left: 11px;">$30</p>
                    <p class="legend-label" style="left: 15px;">$60</p>
                    <p class="legend-label" style="left: 20px;">$90</p>
                    <p class="legend-label" style="left: 20px;">$130</p>
                    <p class="legend-label" style="left: 25px;">$2700</p>
                </div>
            </div><!-- map-legend -->
            <div id="map-legend-street" class="hide">
                <img src="/static/img/street-level-graph.png">
            </div>
            <div id="map-view-level" class="row-fluid">
                <div class="span6 active" id="map-city-level-view-winnings">
                    <img src="/static/img/city-level-map.png">
                    <p>City Level</p>
                </div>
                <div class="span6" id="map-street-level-view-winnings">
                    <img src="/static/img/neighborhood-level-map.png">
                    <p>Street Level</p>
                </div>
            </div>
        </div>
    </li>
    <li id="AVG_SPEND">
        <a href="#">AVERAGE SPENDING</a>
        <div id="map-ui-subnav-content" class="hide">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 10px;">$0</p>
                    <p class="legend-label" style="left: 12px;">$800</p>
                    <p class="legend-label" style="left: 15px;">$1070</p>
                    <p class="legend-label" style="left: 19px;">$1280</p>
                    <p class="legend-label" style="left: 23px;">$1630</p>
                    <p class="legend-label" style="left: 25px;">$8000</p>
                </div>
            </div>
            <div id="map-legend-street" class="hide">
                <img src="/static/img/street-level-graph-spending.png">
            </div>
            <div id="map-view-level" class="row-fluid">
                <div class="span6 active" id="map-city-level-view-spendings">
                    <img src="/static/img/city-level-map.png">
                    <p>City Level</p>
                </div>
                <div class="span6" id="map-street-level-view-spendings">
                    <img src="/static/img/neighborhood-level-map.png">
                    <p>Street Level</p>
                </div>
            </div>
        </div>
    </li>
    <li id="NET_GAIN_LOSS">
        <a href="#">NET GAIN OR LOSS</a>
        <div id="map-ui-subnav-content" class="hide">
            <div id="map-legend">
                <div id="legend-squares" class="percent_income_spent">
                    <div class="legend-square q1"></div>
                    <div class="legend-square q2"></div>
                    <div class="legend-square q3"></div>
                    <div class="legend-square q4"></div>
                    <div class="legend-square q5"></div>
                </div>
                <div id="legend-labels">
                    <p class="legend-label" style="left: 10px;">-$6700</p>
                    <p class="legend-label" style="left: 13px;">-$1500</p>
                    <p class="legend-label" style="left: 15px;">-$1200</p>
                    <p class="legend-label" style="left: 17px">-$1000</p>
                    <p class="legend-label" style="left: 22px;">$0</p>
                    <p class="legend-label" style="left: 25px;">$1300</p>
                </div>
            </div>
             <div id="map-legend-street" class="hide">
                <img src="/static/img/street-level-graph-netgainloss.png">
            </div>
            <div id="map-view-level" class="row-fluid">
                <div class="span6 active" id="map-city-level-view-netgainloss">
                    <img src="/static/img/city-level-map.png">
                    <p>City Level</p>
                </div>
                <div class="span6" id="map-street-level-view-netgainloss">
                    <img src="/static/img/neighborhood-level-map.png">
                    <p>Street Level</p>
                </div>
            </div>
        </div>
    </li>
    <li id="VIEWS_INTERVIEWS">
        <p class="interviews">VIEW INTERVIEWS</p>
        <hr width="100px">
        <div class="map-ui-interviews">
        <label class="checkbox"><input type="checkbox" id="turn_on_player_interviews">PLAYER INTERVIEWS</label>
        <label class="checkbox"><input type="checkbox" id="turn_on_retailer_interviews">RETAILER INTERVIEWS</label>
        </div>
    </li>
    <li id="VIEW_ALL_SCHOOLS">
        <p class="interviews">View All Schools <span class="caret"/> </p>
    </li>
</ul>