<button type="button" class="close div-close">
    <img src="{{ STATIC_URL }}/img/close.png"/>
</button>
    <div id="map-popup-header">
        <p>{{ neighborhood }}</p>
    </div>
    <div id="map-popup-graphic">
       <img src="{{ STATIC_URL }}/img/placeholder.png"/>
    </div>
    <div id="map-popup-description">
        <p class="description">Players in {{ neighborhood }}, on average, spend {{ percent }} of their income on lottery
        tickets. This means they spend ${{ amountSpent }} of every $100 earned on lottery tickets.</p>
    </div>
    <div id="map-popup-footer">
        <button class="btn form_button" id="math_explain" aria-hidden="true" data-form="/mathematical_explain/{{ neighborhoodUrl }}/{{ amountSpent }}/">How much is that?</button>
    </div>
