    <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
        <img src="{{ STATIC_URL }}/img/close.png"/>
    </button>
<div class="interview-header">
<h3 id="add-interivew-title">Add a Player Interview</h3>
</div><!-- interview-header -->
    <form id="add_interview_form" enctype="multipart/form-data" class="well interview-form" method="post" action="/interview/player/">
<div class="modal-body auto-scroll" style="margin-left: 7px;margin-right: 15px;">
    <div id="workflow" class="container-fluid">
        <div class="row-fluid column_1">
            <div class="span7">
            <div class="fieldWrapper">
                {{ form.firstName.errors }}
                <label for="id_firstName">What is the player's first name?</label><br/>
                {{ form.firstName }}
            </div>
            <div class="fieldWrapper" id="buyLotteryTickets">
                {{ form.buyLotteryTickets.errors }}
                <label for="id_buyLotteryTickets_0">Do you ever buy lottery tickets?</label><br/>
                {{ form.buyLotteryTickets }}
            </div>
            <div class="fieldWrapper">
                {{ form.whyOrWhyNot.errors }}
                <label for="id_whyOrWhyNot">Why or why not?</label><br/>
                <div class="add-media-styled-button">
                    {{ form.whyOrWhyNot }}
                </div>
                <span class="no-file-chosen">No file chosen</span>
                <span class="input-span-close" style="margin-top: 10px">Add an Audio recording</span>
            </div>
            <div class="fieldWrapper hide" id="wonLottery">
                {{ form.wonLottery.errors }}
                <label for="id_wonLottery_0">Have you ever won the lottery?</label><br/>
                {{ form.wonLottery }}
            </div>
            <div class="fieldWrapper hide" id="mostWonAmount">
                {{ form.mostWonAmount.errors }}
                <label for="id_mostWonAmount">What is the most you've won?</label><br/>
                <label>$</label>{{ form.mostWonAmount }}
            </div>
            <div class="fieldWrapper hide" id="averageSpentOnLotteryPerWeek">
                {{ form.averageSpentOnLotteryPerWeek.errors }}
                <label for="id_mostWonAmount">How much do you spend on the lottery in an average week?</label><br/>
                <label>$</label>{{ form.averageSpentOnLotteryPerWeek }}
            </div>
            <div class="fieldWrapper hide" id="wonJackpotQuestion">
                {{ form.wonJackpotQuestion.errors }}
                <label for="id_mostWonAmount">What would you do if you won the jackpot?</label><br/>
                <div class="add-media-styled-button">
                {{ form.wonJackpotQuestion }}
               </div>
                <span class="no-file-chosen">No file chosen</span>
                <span class="input-span-close" style="margin-top: 10px">Add an Audio recording</span>
            </div>
                <br/>
            <div class="fieldWrapper">
                {{ form.photo.errors }}
                <label for="id_mostWonAmount">Add photo</label><br/>
                <div class="add-media-styled-button">
                {{ form.photo }}
                </div>
                <span class="no-file-chosen">No file chosen</span>
            </div>
                <div class="fieldWrapper">
                <button class="btn submit interview-button" aria-hidden="true" id="interviewSubmit">Submit</button>
            </div>
           </div><!-- span 6 -->
{#        </div><!-- column_1 -->#}
           <div class="span1"></div>
        <div class="span4 column_2">
            <div class="fieldWrapper">
                <div id='interview-map-thumb'></div>
                {{ form.latitude }}
                {{ form.longitude }}
                <br/>
                {{ form.location.errors }}
                <label class="instructional-text">Your location should appear automatically on the map. If the location is incorrect, please enter the address below.</label><br/>
                <label for="location">Location</label>
                {{ form.location }}
            </div>
        </div>
         <input type="hidden" id="team" name="team" value="{{ team }}"/>
            <input type="hidden" id="interview_type" value="player">
    </div><!-- row-fluid -->
  </div><!-- workflow -->
  <div id="success-message" class="hide">
      <h3>Interview Successfully saved.</h3>
  </div>
</div> <!-- modal-body -->
</form>