    <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
        <img src="{{ STATIC_URL }}/img/close.png"/>
    </button>
<div class="interview-header">
<h3 id="add-interivew-title">Add a Retailer Interview</h3>
</div><!-- interview-header -->
    <form id="add_interview_form" enctype="multipart/form-data" class="well interview-form" method="post" action="/interview/retailer/">
<div class="modal-body auto-scroll" style="margin-left: 7px;margin-right: 15px;">
    <div id="workflow" class="container-fluid">
        <div class="row-fluid column_1">
            <div class="span7">
            <div class="fieldWrapper">
                {{ form.storeName.errors }}
                <label for="id_firstName">What is the name of the store?</label><br/>
                {{ form.storeName }}
            </div>
            <div class="fieldWrapper" id="sellLotteryTickets">
                {{ form.sellLotteryTickets.errors }}
                <label for="id_sellLotteryTickets_0">Do you sell lottery tickets?</label><br/>
                {{ form.sellLotteryTickets }}
            </div>
            <div class="fieldWrapper">
                {{ form.whyOrWhyNot.errors }}
                <label for="id_whyOrWhyNot">Why or why not?</label><br/>
                <div class="add-media-styled-button">
                {{ form.whyOrWhyNot }}
                </div>
                <span class="no-file-chosen">No file chosen</span>
                <span class="input-span-close" style="margin-top: 10px">Add an Audio recording</span>
            </div>
            <div class="fieldWrapper hide" id="customersPerDay">
                {{ form.customersPerDay.errors }}
                <label for="id_customersPerDay">About how many customers do you have in an average day?</label><br/>
                <label>$</label>{{ form.customersPerDay }}
            </div>
            <div class="fieldWrapper hide" id="percentageCustomers">
                {{ form.percentageCustomers.errors }}
                <label for="id_percentageCustomers">What percentage of your customers buy lottery tickets?</label><br/>
                <label>%</label>{{ form.percentageCustomers }}
            </div>
            <div class="fieldWrapper hide" id="amountPerVisit">
                {{ form.amountPerVisit.errors }}
                <label for="id_amountPerVisit">About how many tickets do people usually buy in one visit?</label><br/>
                {{ form.amountPerVisit }}
            </div>
            <div class="fieldWrapper">
                {{ form.goodForNeighborhoodQuestion.errors }}
                <label for="id_goodForNeighborhoodQuestion">Do you think the lottery is good for this neighborhood? Why or why not?</label><br/>
                <div class="add-media-styled-button">
                {{ form.goodForNeighborhoodQuestion }}
               </div>
                <span class="no-file-chosen">No file chosen</span>
                <span class="input-span-close" style="margin-top: 10px">Add an Audio recording</span>
            </div>
            <div class="fieldWrapper">
                {{ form.photo.errors }}
                <label for="id_photo">Add photo</label><br/>
                <div class="add-media-styled-button">
                <input id="id_photo" name="photo" type="file"  accept="image/*;capture=camera">
                </div>
                <span class="no-file-chosen">No file chosen</span>
            </div>
                <div class="fieldWrapper">
                <button class="btn submit interview-button" aria-hidden="true" id="interviewSubmit">Submit</button>
            </div>
           </div><!-- span 6 -->
            <div class="span1"></div>
        <div class="span4 column_2">
            <div class="fieldWrapper">
                <div id='interview-map-thumb'></div>
                {{ form.latitude }}
                {{ form.longitude }}
                {{ form.location.errors }}
                <br/>
                <label class="instructional-text">Your location should appear automatically on the map. If the location is incorrect, please enter the address below.</label><br/>
                {{ form.location }}
            </div>
        </div>
         <input type="hidden" id="team" name="team" value="{{ team }}"/>
         <input type="hidden" id="interview_type" value="retailer">
    </div><!-- row-fluid -->
  </div><!-- workflow -->
  <div id="success-message" class="hide">
      <h3>Interview Successfully saved.</h3>
  </div>
</div> <!-- modal-body -->
</form>