<form id="sign_up_form" class="well signup-form" method="post" action="/signup/">
               {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
       <img src="{{ STATIC_URL }}/img/modal_close.png"/>
    </button>
    <h3>Teacher Sign Up</h3>
  </div><!-- modal-header -->
  <div class="modal-body">
      <div id="workflow_1">
          <div class="fieldInfoWrapper">
              <h6>Create an account.</h6>
              <p>Enter your email and password, which you will use when logging into your account. This information will be private.</p>
          </div><!-- fieldInfoWrapper -->
          {{ form.non_field_errors }}
          <div class="fieldGroup">
             <table class="center">
                 <tr>
                     <td>
                         <div class="fieldWrapper">
                            {{ form.firstName.errors }}
                            {{ form.firstName }}
                         </div>
                     </td>
                     <td>
                         <div class="fieldWrapper">
                            {{ form.lastName.errors }}
                            {{ form.lastName }}
                         </div>
                     </td>
                 </tr><!-- tr -->
                 <tr>
                     <td colspan="2">
                         <div class="fieldWrapper">
                            {{ form.email.errors }}
                            {{ form.email }}
                         </div>
                     </td>
                 </tr><!--tr -->
                 <tr>
                     <td colspan="2">
                        <div class="fieldWrapper">
                            {{ form.password.errors }}
                            {{ form.password }}
                        </div>
                     </td>
                 </tr><!-- tr -->
             </table><!-- table -->
         </div><!-- fieldGroup -->
          <div class="fieldInfoWrapper">
              <p>Enter the name and location of your school. This information will be private.</p>
          </div><!-- fieldInfoWrapper -->
              <div class="fieldGroup">
                  <table class="center">
                      <tr>
                          <td colspan="2">
                              <div class="fieldWrapper">
                                {{ form.schoolName.errors }}
                                {{ form.schoolName }}
                              </div>
                          </td>
                      </tr><!-- tr -->
                      <tr>
                          <td colspan="2">
                              <div class="fieldWrapper">
                                {{ form.schoolAddress.errors }}
                                {{ form.schoolAddress }}
                              </div>
                          </td>
                      </tr><!-- tr -->
                      <tr>
                          <td>
                              <div class="fieldWrapper">
                                {{ form.schoolCity.errors }}
                                {{ form.schoolCity }}
                             </div>
                          </td>
                          <td>
                              <div class="fieldWrapper">
                                {{ form.schoolState.errors }}
                                {{ form.schoolState }}
                             </div>
                          </td>
                      </tr><!-- tr -->
                  </table><!-- table -->
              </div><!-- fieldGroup -->
          <div class="fieldInfoWrapper">
              <h6>Create a public username for your class.</h6>
              <p>This can be your name, ie <i>Ms. Jones' Class</i>, the name of your school, ie <i>PS1</i>, or a team name of your choosing.</p>
          </div><!-- fieldInfoWrapper -->
          <div class="fieldGroup">
              <div class="fieldWrapper">
                {{ form.className.errors }}
                {{ form.className }}
              </div>
          </div>
      </div><!-- #div workflow_1 -->
      <div id="workflow_2" class="row-fluid hide">
          <div class="fieldInfoWrapper">
              <h6>Create accounts for your students.</h6>
              <p>Split your class into teams composed of around 2-4 students. Provide students with their names and passwords, exactly as you have entered them, to
              log on to the site. The student names you enter will be public.</p>
          </div><!-- fieldInfoWrapper -->
          <div class="team row-fluid">
              <div class="input-append">
                <input class="input-large" type="text" placeholder="Team" id="team_name">
                <span class="add-on"><span class="caret"></span></span>
              </div> <!--div -->
              <table>
                  <tr>
                      <td colspan="2">
                          <label class="add_student">+ Add a student to this team</label>
                      </td>
                  </tr>
              </table><!--table -->
          </div><!-- team -->
      </div><!-- #div workflow 2-->
      <div id="workflow_3" class="row-fluid hide">
          <div class="fieldInfoWrapper">
              <h6>You have successfully registered.</h6>
              <p>Lorem ipsum dolor sit amet, menandri intellegam concludaturque ius in. Ius ei legimus vivendo molestiae, blandit conclusionemque no sit. Id nonumes insolens vis,
                  vero aliquam interpretaris id vix. Mel ad quidam insolens. Cu amet suas deleniti vis, quod definitionem quo ad. Affert discere alterum ad eum, at mei audiam intellegebat definitiones.</p>
          </div><!-- fieldInfoWrapper -->
      </div>
  </div> <!-- modal-body -->
  <div class="modal-footer">
      <div class="span6">
        <button class="btn workflow_2_add_team hide add_team" aria-hidden="true">Add a Team</button>
      </div>
      <button class="btn btn-primary workflow_1_click" aria-hidden="true">Next</button>
      <button class="btn workflow_2_add_team hide submit" aria-hidden="true">Submit</button>
  </div>
</form>