<button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
       <img src="{{ STATIC_URL }}/img/close.png"/>
    </button>
<form id="sign_up_form" class="well signup-form" method="post" action="/signup/">
               {% csrf_token %}
  <div class="modal-body">
      <div class="citi-header">
    <h3>Teacher Sign Up</h3>
  </div><!-- modal-header -->
      <div id="workflow_1">
          <div class="fieldInfoWrapper" id="first">
              <h5>Create an account.</h5>
              <p>Enter your email and password, which you will use when logging into your account. This information will be private.</p>
          </div><!-- fieldInfoWrapper -->
          {{ form.non_field_errors }}
          <div class="fieldGroup">
             <table class="center">
                 <tr>
                     <td class="sign_up_row_buffer">
                         <div class="fieldWrapper">
                            {{ form.firstName.errors }}
                            {{ form.firstName }}
                         </div>
                     </td>
                     <td>
                         <div class="fieldWrapper">
                            {{ form.lastName.errors }}
                            {{ form.lastName }}
                         </div>
                     </td>
                 </tr><!-- tr -->
                 <tr>
                     <td colspan="2">
                         <div class="fieldWrapper">
                            {{ form.email.errors }}
                            {{ form.email }}
                         </div>
                     </td>
                 </tr><!--tr -->
                 <tr>
                     <td colspan="2">
                        <div class="fieldWrapper">
                            {{ form.password.errors }}
                            {{ form.password }}
                        </div>
                     </td>
                 </tr><!-- tr -->
             </table><!-- table -->
         </div><!-- fieldGroup -->
          <br>
          <br>
          <div class="fieldInfoWrapper">
              <p>Enter the name and location of your school. This information will be private.</p>
          </div><!-- fieldInfoWrapper -->
              <div class="fieldGroup">
                  <table class="center">
                      <tr>
                          <td colspan="2">
                              <div class="fieldWrapper">
                                {{ form.schoolName.errors }}
                                {{ form.schoolName }}
                              </div>
                          </td>
                      </tr><!-- tr -->
                      <tr>
                          <td colspan="2">
                              <div class="fieldWrapper">
                                {{ form.schoolAddress.errors }}
                                {{ form.schoolAddress }}
                              </div>
                          </td>
                      </tr><!-- tr -->
                      <tr>
                          <td class="sign_up_row_buffer">
                              <div class="fieldWrapper">
                                {{ form.schoolCity.errors }}
                                {{ form.schoolCity }}
                             </div>
                          </td>
                          <td>
                              <div class="fieldWrapper styled-select input-append">
                                {{ form.schoolState.errors }}
                                {{ form.schoolState }}
                                <img class="dropdown-caret-login" src="{{ STATIC_URL }}/img/select_arrow.png">
                             </div>
                          </td>
                      </tr><!-- tr -->
                  </table><!-- table -->
              </div><!-- fieldGroup -->
          <br>
          <br>
          <div class="fieldInfoWrapper">
              <h5>Create a public username for your class.</h5>
              <p>This can be your name, ie <i>Ms. Jones' Class</i>, the name of your school, ie <i>PS1</i>, or a team name of your choosing.</p>
          </div><!-- fieldInfoWrapper -->
          <div class="fieldGroup">
              <div class="fieldWrapper">
                {{ form.className.errors }}
                {{ form.className }}
              </div>
          </div>
      </div><!-- #div workflow_1 -->
      <div id="workflow_2" class="row-fluid hide">
          <div class="fieldInfoWrapper no-padding">
              <h5>Create accounts for your students.</h5>
              <p>Split your class into teams composed of around 2-4 students. Provide students with their names and passwords, exactly as you've entered them, to
              log on to the site. The student names you enter will be public.</p>
          </div><!-- fieldInfoWrapper -->
          <div class="row-fluid">
              <div class="team ">
                  <div class="styled-select input-append">
                      <select class="sign_up_large" id="team_name" name="team_name[]" style="width:340px">
                          <option value="base">Team</option>
                          <option value="BLUE">Blue</option>
                          <option value="AQUA">Aqua</option>
                          <option value="PINK">Pink</option>
                          <option value="PURPLE">Purple</option>
                          <option value="GREEN">Green</option>
                          <option value="ORANGE">Orange</option>
                          <option value="YELLOW">Yellow</option>
                          <option value="RED">Red</option>
                      </select>
                      <img class="dropdown-caret-login" src="{{ STATIC_URL }}/img/select_arrow.png">
                  </div> <!--div -->
                  <table>
                      <tr>
                          <td class="sign_up_row_buffer"><input class="sign_up_medium student" type="text" placeholder="Student First Name" name="student_name[0][]"></td>
                          <td><input class="sign_up_medium" type="text" placeholder="Password" name="student_password[0][]"></td>
                          <td><a href="#" class="remove_student">X</a></td>
                      <tr>
                          <td class="sign_up_row_buffer"><input class="sign_up_medium student" type="text" placeholder="Student First Name" name="student_name[0][]"></td>
                          <td><input class="sign_up_medium" type="text" placeholder="Password" name="student_password[0][]"></td>
                          <td><a href="#" class="remove_student">X</a></td>
                      </tr>
                      <tr>
                          <td colspan="3">
                              <label class="add_student">+ Add a student to this team</label>
                          </td>
                      </tr>
                  </table><!--table -->
              </div><!-- team -->
              <div class="team ">
                  <div class="styled-select input-append">
                      <select class="sign_up_large" id="team_name" name="team_name[]" style="width:340px">
                          <option value="base">Team</option>
                          <option value="BLUE">Blue</option>
                          <option value="AQUA">Aqua</option>
                          <option value="PINK">Pink</option>
                          <option value="PURPLE">Purple</option>
                          <option value="GREEN">Green</option>
                          <option value="ORANGE">Orange</option>
                          <option value="YELLOW">Yellow</option>
                          <option value="RED">Red</option>
                      </select>
                      <img class="dropdown-caret-login" src="{{ STATIC_URL }}/img/select_arrow.png">
                  </div> <!--div -->
                  <table>
                      <tr>
                          <td class="sign_up_row_buffer"><input class="sign_up_medium student" type="text" placeholder="Student First Name" name="student_name[1][]"></td>
                          <td><input class="sign_up_medium" type="text" placeholder="Password" name="student_password[1][]"></td>
                          <td><a href="#" class="remove_student">X</a></td>
                      <tr>
                          <td class="sign_up_row_buffer"><input class="sign_up_medium student" type="text" placeholder="Student First Name" name="student_name[1][]"></td>
                          <td><input class="sign_up_medium" type="text" placeholder="Password" name="student_password[1][]"></td>
                          <td><a href="#" class="remove_student">X</a></td>
                      </tr>
                      <tr>
                          <td colspan="3">
                              <label class="add_student">+ Add a student to this team</label>
                          </td>
                      </tr>
                  </table><!--table -->
              </div><!-- team -->
          </div>
      </div><!-- #div workflow 2-->
      <div id="workflow_3" class="row-fluid hide">
          <div class="fieldInfoWrapper">
              <h5>You have successfully registered.</h5>
              <p>Lorem ipsum dolor sit amet, menandri intellegam concludaturque ius in. Ius ei legimus vivendo molestiae, blandit conclusionemque no sit. Id nonumes insolens vis,
                  vero aliquam interpretaris id vix. Mel ad quidam insolens. Cu amet suas deleniti vis, quod definitionem quo ad. Affert discere alterum ad eum, at mei audiam intellegebat definitiones.</p>
          </div><!-- fieldInfoWrapper -->
      </div>
      <div class="citi-footer">
          <div class="text-center">
                    <button class="btn workflow_2_add_team hide back pull-left form_button" aria-hidden="true">Back</button>

                   <button class="btn workflow_2_add_team hide add_team form_button " aria-hidden="true">Add a Team</button>
                    <button class="btn workflow_2_add_team pull-right hide submit form_button" aria-hidden="true">Submit</button>

          </div>
        <button class="btn btn-primary pull-right  workflow_1_click form_button" aria-hidden="true">Next</button>
        <br/>
          <br/>
      </div>
  </div> <!-- modal-body -->
</form>