<button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
        <img src="{{ STATIC_URL }}/img/close.png"/>
</button>
<div class="modal-body" style="height: 630px">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% for i in tour.getTourSlides  %}
                <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
        {% endfor %}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner container">
        {% for slide in tour.getTourSlides  %}
        {% if forloop.first %}
        <div class="active item container">
        {% else %}
        <div class="item container">
        {% endif %}
            <div class="row-fluid" id="student-blurb">
                <div class="container-fluid">
                    <div class="span2 tour-details-team-photo-div"><img class="team-photo" src="{{ MEDIA_URL }}/{{ tour.teamPhoto }}"></div>
                    <div class="span10 bubble-tour-preview-text">
                        <p class="blurb">{{ slide.text }}</p>
                        {% if slide.audio != "" %}
                            <p class="audio"><audio src="{{ MEDIA_URL }}/{{ slide.audio }}" preload="auto" controls="" id="slide-audio"></audio></p>
                        {% endif %}
                        <p class="link">{{ slide.link }}</p>
                    </div>
                </div>
            </div>
            <div class="row-fluid" id="tour-image">
                <img class="tour-img" src="{{ MEDIA_URL }}/{{ slide.photo }}">
            </div>
        </div>
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>