<button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
        <img src="{{ STATIC_URL }}/img/close.png"/>
</button>
<div class="modal-body no-scroll">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% for i in slides  %}
                <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
        {% endfor %}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner container">
        <div class="active item container" id="tour-preview-cover">
            <div id="tour-preview-cover-photo" class="row-fluid"><img class="cover-photo"></div>
            <div id="tour-preview-team-info" class="row-fluid"><div class="span2"><img class="team-photo"></div>
                <div class="span10"><p class="tour-paragraph-detail">Author and Class info</p></div>
            </div>

        </div>
        {% for i in slides  %}
        <div class="item container" id="tour-preview-slide-{{ i }}">
            <div class="row-fluid" id="student-blurb">
             <div class="container-fluid">
                <div class="span2 tour-details-team-photo-div"><img class="team-photo"></div>
                <div class="span10 bubble-tour-preview-text">
                    <p class="blurb"></p>
                    <p class="audio"><audio src="" preload="auto" controls="" id="slide-audio"></audio></p>
                    <p class="link"></p>
                </div>
            </div>

            </div>
            <div class="row-fluild" id="tour-preview-image">
                <img class="tour-preview-img">
            </div>
        </div>
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>