<button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
        <img src="{{ STATIC_URL }}/img/close.png"/>
</button>
<div class="modal-body no-scroll">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% for i in tour.getTourSlides  %}
                <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
        {% endfor %}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner container">
        <div class="active item container" id="tour-preview-cover">
            <div id="tour-slide-cover-photo" class="row-fluid"><img class="cover-photo" src="{{ MEDIA_URL }}/{{ tour.coverPhoto }}"></div>
            <div id="tour-slide-team-info" class="row-fluid"><div class="span2"><img class="team-photo" src="{{ MEDIA_URL }}/{{ tour.teamPhoto }}"></div>
                <div class="span10"><p class="tour-paragraph-detail"><b>By:</b> {{ tour.getAuthorString }}, {{ tour.student.team.teacher.className }} </p></div>
            </div>

        </div>
        {% for slide in tour.getTourSlides  %}
        <div class="item container">
            <div class="row-fluid" id="student-blurb">
                <div class="container-fluid">
                    <div class="span2 tour-details-team-photo-div"><img class="team-photo" src="{{ MEDIA_URL }}/{{ tour.teamPhoto }}"></div>
                    <div class="span10 bubble-tour-preview-text">
                        <p class="blurb">{{ slide.text }}</p>
                        {% if slide.audio != "" %}
                            <p class="audio"><audio src="{{ MEDIA_URL }}/{{ slide.audio }}" preload="auto" controls="" id="slide-audio"></audio></p>
                        {% endif %}
                        <p class="link">{{ slide.link }}</p>
                    </div>
                </div>
            </div>
            <div class="row-fluid" id="tour-image">
                <img class="tour-img" src="{{ MEDIA_URL }}/{{ slide.photo }}">
            </div>
        </div>
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>