<div class="tour-header">
<p>Tours</p>
</div><!-- interview-header -->
<div id="toolbar" class="container-fluid">
    <div class="styled-select2 input-append pull-left input-prepend">
    <label class="styled-select2-label"><b>Sort By: </b></label>
        <select id="date-sort" class="tour-toolbar"  name="date-sort">
            {% if toolbar.sortDate == "DESC" %}
                <option value="DESC" selected>Date Desc</option>
                <option value="ASC">Date Ascending</option>
            {% else %}
                <option value="DESC">Date Descending</option>
                <option value="ASC" selected>Date Asc</option>
            {% endif %}
        </select>
        <img class="dropdown-caret" src="{{ STATIC_URL }}/img/select_arrow.png">
    </div>
    <div class="styled-select2 input-append input-prepend pull-left">
    <label class="styled-select2-label"><b>Class: </b></label>
        <select id="class-sort" class="tour-toolbar large"  name="class-sort">
             {%  if toolbar.searchClass == 'ALL' %}
                <option value="ALL"selected>ALL</option>
            {% else %}
                <option value="ALL">ALL</option>
            {% endif %}
            {% for class in classes %}
                {% if toolbar.searchClass == class %}
                    <option value="{{ class }}" selected>{{ class }}</option>
                {% else %}
                    <option value="{{ class }}">{{ class }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <img class="dropdown-caret" src="{{ STATIC_URL }}/img/select_arrow.png">
    </div>
</div><!-- toolbar-->
<div id="tour-content" class="container">
    {% for tour in tours %}
        <div class="tour-stub row-fluid" id="{{ tour.id }}">
            <div class="container" >
                <div id="tour-stub-cover-photo" class="row-fluid"><img class="cover-photo" src="{{ MEDIA_URL }}/{{ tour.coverPhoto }}"></div>
                <div id="tour-stub-student-blurb" class="row-fluid">
                    <div class="span4">
                        <img class="team-photo" src="{{ MEDIA_URL }}/{{ tour.teamPhoto }}">
                    </div>
                    <div class="span7" >
                        <p><b>By:</b> {{ tour.getAuthorString }}, {{ tour.student.team.teacher.className }} </p>
                        <br>
                        <p>{{ tour.created_at|date:"M d, Y" }}</p>
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
        </div>
    {% endfor %}

</div><!--tour content -->
<div id="tour-pagination">
    <span class="step-links">
        {% if tours.has_previous %}
            <a href="#" id="pagination-prev-page" data-form="{{ tours.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            {% for pageNum in pages_to_display %}
                 {% if pageNum == tours.number %}
                     <a class="pagination-page pagination-active-page" href="#" data-form="{{ pageNum }}">{{ pageNum }}</a>
                 {% else %}
                     <a class="pagination-page" href="#" data-form="{{ pageNum }}">{{ pageNum }}</a>
                {% endif %}
            {% endfor %}
        </span>

        {% if tours.has_next %}
            <a href="#" id="pagination-next-page" data-form="{{ tours.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>